<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__ADMIN__STATIC__ /css/pintuer.css">
<link rel="stylesheet" href="__ADMIN__STATIC__ /css/admin.css">
<script src="__ADMIN__STATIC__ /js/jquery.js"></script>
<script src="__ADMIN__STATIC__ /js/pintuer.js"></script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 轮播图设置 </strong></div>
  <div class="padding border-bottom">  
  <button type="button" class="button border-yellow" onclick="addCnt()"><span class="icon-plus-square-o"></span> 添加内容</button>
  </div>
  <table class="table table-hover text-center">
    <tr>
      <th width="10%">ID</th>
      <th width="20%">图片</th>
      <th width="15%">标题</th>
      <th width="20%">描述</th>
      <th width="10%">排序</th>
      <th width="15%">操作</th>
    </tr>
    {foreach $dataSlide as $key=>$obj}
    <tr>
      <td>{$obj->id}</td>     
      <td><img src="__ADMIN__SITE__/{$obj->pic}" alt="" width="120" height="50" /></td>     
      <td>{$obj->name}</td>
      <td>{$obj->detail}</td>
      <td>{$obj->shu_xu}</td>
      <td><div class="button-group">
      <a class="button border-main" href="#mdf" onclick="modifySlide({$obj->id})"><span class="icon-edit"></span> 修改</a>
      <a class="button border-red" href="javascript:void(0)" onclick="del({$obj->id})"><span class="icon-trash-o"></span> 删除</a>
      </div></td>
    </tr>
    {/foreach}
  </table>
</div>
<script type="text/javascript">
function del(id)
{
	if(confirm("您确定要删除吗?"))
  {
      window.location.href="__ADMIN__SITE__/Admin/SlideManage/delSlide/id/"+id;
	}
}
</script>
<div class="panel admin-panel margin-top" id="add">
  <div class="panel-head"><span class="icon-pencil-square-o"></span><strong id="addCnt"> 增加内容</strong></div>
  <div class="body-content">
    <form method="post" enctype="multipart/form-data" class="form-x" action="__ADMIN__SITE__/Admin/SlideManage/doAddSlide">    
      <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="title" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>URL：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="url" value=""  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>图片：</label>
        </div>
        <div class="field">
          <!-- <input type="text" id="url1" name="img" class="input tips" style="width:25%; float:left;"  value="" data-toggle="hover" data-place="right" data-image="" /> -->
          <input name="imgUpload" type="file" class="button bg-blue margin-left" id="image1" value="+ 浏览上传"  style="float:left;">
          <div class="tipss">图片尺寸：1920*500</div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>描述：</label>
        </div>
        <div class="field">
          <textarea type="text" class="input" name="note" style="height:120px;" value=""></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>排序：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="sort" value=""  data-validate="required:,number:排序必须为数字" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button id="sbtSlide" class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="panel admin-panel margin-top" id="mdf">
  <div class="panel-head"><span class="icon-pencil-square-o"></span><strong id="addCnt"> 修改内容</strong></div>
  <div class="body-content">
  <form method="post" enctype="multipart/form-data" class="form-x" action="__ADMIN__SITE__/Admin/SlideManage/mdfSlide">    
      <div class="form-group">
        <div class="label">
          <label>标题：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" value="" name="mdftitle" data-validate="required:请输入标题" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>URL：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="mdfurl" value=""  />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>图片：</label>
        </div>
        <div class="field">
          <!-- <input type="text" id="url1" name="img" class="input tips" style="width:25%; float:left;"  value="" data-toggle="hover" data-place="right" data-image="" /> -->
          <input name="mdfimgUpload" type="file" class="button bg-blue margin-left" id="image1" value="+ 浏览上传"  style="float:left;">
          <div class="tipss">图片尺寸：243*438</div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>描述：</label>
        </div>
        <div class="field">
          <textarea type="text" class="input" id="note" name="mdfnote" style="height:120px;" value=""></textarea>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>排序：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="mdfsort" value=""  data-validate="required:,number:排序必须为数字" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <input type="hidden" name="mdfId" value="3">
          <button id="sbtSlide" class="button bg-main icon-check-square-o" type="submit"> 提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>
<script>
    function modifySlide(id)
    {   
       $.post("__ADMIN__SITE__/Admin/SlideManage/getInfo/id/"+id, 
       function(data)
       {
            $("input[name='mdftitle']").val(data.name);
            $("input[name='mdfurl']").val(data.url);
            $("#note").val(data.detail);
            $("input[name='mdfsort']").val(data.shu_xu);
            $("input[name='mdfId']").val(id);
       }, "json");
    }

    function addCnt()
    {
      $('#addCnt').html(' 增加内容');
      window.location.href='#add';
      $("input[name='title']").val('');
      $("input[name='url']").val('');
      $("#note").val('');
      $("input[name='sort']").val('');
      $("input[name='imgUpload']").val('');
    }

</script>


