<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/pintuer.css">
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/admin.css">
    <script src="__ADMIN__STATIC__ /js/jquery.js"></script>
    <script src="__ADMIN__STATIC__ /js/pintuer.js"></script>  
</head>
<body>
  
     <div style="margin-left:350px;margin-top:200px;"><font size="25" color="blue">
     				{if($Think.session.adminname)}
                   
					欢迎您，{$Think.session.adminname}!
					{else}
                   没有名字的管理员!
                    {/if}		</div>

</body></html>