<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/pintuer.css">
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/admin.css">
    <script src="__ADMIN__STATIC__ /js/jquery.js"></script>
    <script src="__ADMIN__STATIC__ /js/pintuer.js"></script>
</head>

<body>
    <div style="margin-left:350px;margin-top:200px;">
        <font size="30" color="red">
             <p>天行J地势坤：<a href="http://www.ccboss.cn/" target="_blank">J坤集团</a></p> 
        </font>
    </div>
    <div></div>
    <font size="5" color="blue">
        <div style="text-align:center;">
             {if($Think.session.user)} “ 后台管理中心 ” {else} 喝饱了再过来 jian坤集团欢迎您！ {/if}
        </div>   
    </font> 
</body>

</html>