<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>登录</title>
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/pintuer.css">
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/admin.css">
    <script src="__ADMIN__STATIC__ /js/jquery.js"></script>
    <script src="__ADMIN__STATIC__ /js/pintuer.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#verify_img').click(function() {
                var ts = Date.parse(new Date()) / 1000;
                var img = document.getElementById('verify_img');
                img.src = "/captcha?id=" + ts;
            })
            /*账号密码中验证 验证码是否正确*/
            var captchaCek = 0;
            /*验证码单独验证*/
            function userVerify() {
                $.ajaxSetup({
                    async: false
                });
                $.post(
                    '__ADMIN__SITE__/admin/admin/verify', 
                    {
                        verify: $("#verify").val()
                    },
                    function(data) {
                        if (data.status == 1) 
                        {
                            $("#verify").next().html('<font color="green">验证码正确</font>');
                            captchaCek = 1;
                        } 
                        else 
                        {
                            $("#verify").next().html('<font color="red">验证码错误</font>');
                            captchaCek = 0;
                        }
                    }, 'json');
            };
            /*焦点验证验证码*/
            $("#verify").blur(function() {
                userVerify();
            });
            /*登录验证*/
            $("#submit").click(function() {
                /*验证码是否正确 正确再判断用户名和密码*/
                if (captchaCek) {
                    $.ajaxSetup({
                        async: false
                    });
                    $.post(
                        '__ADMIN__SITE__/admin/admin/checkLogin', 
                        {
                            verifyUser: $("#verifyUser").val(),
                            verifyPswd: $("#verifyPswd").val()
                        },
                        function(data) {
                            if (data.status == 1)
                                window.location.replace("__ADMIN__SITE__/admin/admin/index");
                            else
                                alert('温馨提示:"用户名是您的真实姓名"，“请核对 用户名密码 后再次登录”');
                        }, 'json');
                }
            });
        });
    </script>
</head>

<body>
    <div class="bg"></div>
    <div class="container">
        <div class="line bouncein">
            <div class="xs6 xm4 xs3-move xm4-move">
                <div style="height:150px;"></div>
                <div class="media media-y margin-big-bottom">
                </div>
                <div class="panel loginbox">
                    <div class="text-center margin-big padding-big-top">
                        <h1>后台管理中心</h1>
                    </div>
                    <div class="panel-body" style="padding:30px; padding-bottom:10px; padding-top:10px;">
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="text" id="verifyUser" class="input input-big" name="username" placeholder="登录账号" data-validate="required:请填写账号" />
                                <span class="icon icon-user margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <input type="password" id="verifyPswd" class="input input-big" name="password" placeholder="登录密码" data-validate="required:请填写密码" />
                                <span class="icon icon-key margin-small"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field">
                                <input type="text" id="verify" class="input input-big" name="code" placeholder="填写右侧的验证码" data-validate="required:请填写右侧的验证码" />&nbsp;&nbsp;&nbsp;&nbsp;<span style=" width:150px;  margin-left:10px;"></span>
                                <img src="{:captcha_src()}" alt="" id="verify_img" width="100" height="32" class="passcode" style="height:43px;cursor:pointer;" alt="验证码" onclick="refreshVerify()">
                            </div>
                        </div>
                    </div>
                    <div style="padding:30px;"><input type="submit" id="submit" class="button button-block bg-main text-big input-big" value="登录"></div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>