        <div class="pull-left w210 r970" id="containerBody">
            <div class="box-border">
                <div class="hd"><b></b>会员中心</div>
                <ul class="bd">
                    <li id="memberCenterItem" class="active"><a href="/Member/MemberCenter/" style="font-size:12px;"><span class="ico ico-member1"></span>会员首页</a></li>
                    <li>
                        <span class="ico ico-member2"></span>订单信息
                        <ul>
                            <li id="myOrderItem"><a href="/Member/Order/">我的订单</a></li>
                            <li id="cancelOrderItem"><a href="/Member/Order/?zt=-1">已取消订单</a></li>
                            <li id="myEvaluationItem"><a href="/Member/Order/ReviewList">我的评价</a></li>
                            <li id="myAttentionItem"><a href="/Member/Order/MyAttention">我的关注</a></li>

                        </ul>
                    </li>
                    <li>
                        <span class="ico ico-member3"></span>积分管理
                        <ul>
                            <li id="myScoresItem"><a href="/Member/Payment/MyScores">我的积分</a></li>
                            <li id="scoresExchangeItem"><a href="/Member/Payment/ScoresExchange">积分兑换</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="ico ico-member4"></span>账户设置
                        <ul>
                            <li id="personInfoItem"><a href="/Member/PersonInfoManage">个人信息</a></li>
                            <li id="addressListItem"><a href="/Member/AddressList">常用收货人</a></li>
                            <li id="changePwdItem"><a href="/Member/AccountSetting/ChangePwd">修改密码</a></li>
                            <li id="changeEmailItem"><a href="/Member/AccountSetting/ChangeEmail">修改登录名</a></li>
                            <li id="remindItem"><a href="/Member/Remind/">生日/纪念日提醒</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="ico ico-member5"></span>付款设置
                        <ul>
                            <li id="myVirtualAccountItem"><a href="/Member/Payment/MyVirtualAccount">我的虚拟账户</a></li>
                            <li id="myCouponItem"><a href="/Member/Payment/MyCoupon">我的优惠券</a></li>
                            <li id="balanceFillItem"><a href="/Member/Payment/BalanceFill">在线补款</a></li>
                        </ul>
                    </li>
                    <li>
                        <span class="ico ico-member6"></span>客户服务
                        <ul>
                            <li id="guestMessageItem"><a href="/Member/CustomerService/GuestMessage">客服留言</a></li>
                            <li id="tsGuestMessageItem"><a href="/Member/CustomerService/GuestMessage?type=ts">投诉留言</a></li>
                            <li id="chatItem"><a href="/Chat/">在线客服</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>