<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/pintuer.css">
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/admin.css">
    <script src="__ADMIN__STATIC__ /js/jquery.js"></script>
    <script src="__ADMIN__STATIC__ /js/pintuer.js"></script>  
</head>
<body>
 
<div class="panel admin-panel margin-top">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>修改商品内容</strong></div>
  <div class="body-content">
    <form action="{:url('admin/goodsmanage/goodsAlter')}" class="form-x" enctype="multipart/form-data" method="post">  
    <input type="hidden" name="id"  value="{$OldGoodsMessage['id']}" />
      <div class="form-group">
        <div class="label">
          <label>商品名称：</label>
        </div>
        <div class="field">
        <input type="text" class="input w50"  style="color:red;" name="title" value="{$OldGoodsMessage['title']}" />       
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
          <div class="label">
              <label>首页展示图：</label>
          </div>
          <div class="field">
               <input type="file" class="button bg-blue margin-left" name="HomeImg" id="image1" value=""  style="float:left;">
              <div class="tipss">原图片：<img src="/uploads/{$HomeImg[0]['path']}" alt="图片已删除" width="140" height="50" /></div>
          </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>市场价：</label>
        </div>
        <div class="field">
          <input type="text" style="color:red;" class="input w50" name="shichangjia" value="{$OldGoodsMessage['market_price']}" />         
          <div class="tips"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="label">
          <label>花礼价：</label>
        </div>
        <div class="field">
          <input type="text" style="color:red;" class="input w50" name="hualijia" value="{$OldGoodsMessage['now_price']}" />         
          <div class="tips"></div>
        </div>
      </div>      
      
      <div class="form-group">
        <div class="label">
          <label>花语：</label>
        </div>
        <div class="field">
          <input type="text" style="color:red;" class="input" name="huayu" value="{$OldGoodsMessage['meaning']}"/>       
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>包装：</label>
        </div>
        <div class="field">
          <textarea type="text" style="color:red;" class="input" name="baozhuang" style="height:100px;">{$OldGoodsMessage['packing']}</textarea>        
        </div>
     </div>
     <div class="form-group">
        <div class="label">
          <label>附送：</label>
        </div>
        <div class="field">
          <textarea type="text" style="color:red;" class="input" name="fusong" style="height:100px;" >{$OldGoodsMessage['attach']}</textarea>        
        </div>
     </div>
     <div class="form-group">
        <div class="label">
          <label>配送：</label>
        </div>
        <div class="field">
          <textarea type="text" style="color:red;" class="input" name="peisong" style="height:100px;" >{$OldGoodsMessage['allow_city']}</textarea>        
        </div>
     </div>

     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <div class="button bg-red icon-check-square-o">商品展示图</div>
        </div>
      </div>
     {volist name="HomesImg" id="data"}
      <div class="form-group">
          <div class="label">
              <label>展示图：</label>
          </div>
          <div class="field">
              <input type="file"  id="showpic" class="button bg-blue margin-left" name="HomesImg[]"  value=""  style="float:left;">
              <input type="display:none" name="sid[]"  value="{$data['id']}" style="display:none;"/>
              <div class="tipss">原图片：<img src="/uploads/{$data['path']}" alt="图片已删除" width="140" height="50" /></div>
          </div>
      </div>
      {/volist}
        
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <div class="button bg-red icon-check-square-o">商品详情图</div>
        </div>
      </div>
      {volist name="images" id="data"}
      <div class="form-group">
          <div class="label">
              <label>详情图：</label>
          </div>
          <div class="field">
               <input type="file" class="button bg-blue margin-left" name="images[]" id="image1" value=""  style="float:left;">
               <input type="hidden" name="did[]"  value="{$data['id']}" style="display:none;"/>
              <div class="tipss">原图片：<img src="/uploads/{$data['path']}" alt="图片已删除" width="140" height="50" /></div>
          </div>
      </div>
      {/volist}  
     <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit">确认修改</button>
        </div>
      </div>
    </form>
  </div>
</div>
</body>
</html>
<!-- <script>
  $("#showpic").click(function({
     alert(11);
  }));
</script> -->