    <style>
        li.active a {
            color: #ff6a00 !important;
            background-color: transparent;
        }
    body{
            line-height: 0;
        } 
    </style>


    <!--[if lt IE 9]>
        <script src="__INDEX__STATIC__/assets/js/html5shiv.min.js"></script>
    <![endif]-->

    <!-- 顶部导航 -->    
    {include file='public/top'}
    <!-- 顶部导航 End -->
    
<!-- 导航 -->
<nav class="common">
    <div class="container">
        <div class="categorys dropdown">
            <h3 class="categorys-title" data-hover="dropdown" data-delay="0" aria-expanded="false">
                <a href="/all.html"><span class="pull-right glyphicon glyphicon-menu-down"></span>全部商品导购</a>
            </h3>
            <div class="dropdown-menu dropdown-cate">
                <h4><a href="/flower/">鲜花</a></h4>
                <ul class="cate-list list-inline">
                    <li><a href="/aiqingxianhua/">爱情鲜花</a></li>
                    <li><a href="/youqingxianhua/">友情鲜花</a></li>
                    <li><a href="/shengriliwu/" target="_blank">生日鲜花</a></li>
                    <li><a href="/songzhangbeixianhua/">问候长辈</a></li>
                    <li><a href="/zhufuqinghexianhua/">祝贺鲜花</a></li>
                    <li><a href="/hunqingxianhua/">婚庆鲜花</a></li>
                    <li><a href="/tanbingweiwenxianhua/">探病慰问</a></li>
                    <li><a href="/daoqianxianhua/">道歉鲜花</a></li>
                    <li><a href="/businessFlower/kaiyehualan/">开业花篮</a></li>
                </ul>
                <h4><a href="/yongshenghua/">永生花</a></h4>
                <ul class="cate-list list-inline">
                    <li><a href="/yongshenghua/yongshenghua_box.html">经典花盒</a></li>
                    <li><a href="/yongshenghua/yongshenghua_large.html">巨型玫瑰</a></li>
                    <li><a href="/yongshenghua/yongshenghua_lavender.html">薰衣草</a></li>
                </ul>

                <h4><a href="/cake/">蛋糕</a></h4>
                <ul class="cate-list list-inline">
                    <li><a href="/cake/ganso/">元祖</a></li>
                    <li><a href="/cake/holiland/">好利来</a></li>
                    <li><a href="/cake/croissants/">可颂坊</a></li>
                    <li><a href="/cake/waffleboy/">窝夫小子</a></li>
                    <li><a href="/cake/micamika/">米卡米卡</a></li>
                    <li><a href="/cake/yipinxuan/">一品轩</a></li>
                    <li><a href="/cake/allcitycake/">全国品牌</a></li>
                </ul>
                <h4><a href="/gifts/">礼品</a></h4>
                <ul class="cate-list list-inline">
                    <li><a href="/livingflower/">泰国保鲜花</a></li>
                    <li><a href="/gifts/goldenflower/">金箔花</a></li>
                    <li><a href="/gifts/musicbox/">音乐盒</a></li>
                    <li><a href="/gifts/crystallaser/">水晶内雕</a></li>
                    <li><a href="/gifts/cosmeticmirror/">化妆镜</a></li>
                    <li><a href="/gifts/kingking/">香薰系列</a></li>
                    <li><a href="/toys/">品牌公仔</a></li>
                    <li><a href="/gifts/bestlife/">音乐睡枕</a></li>
                    <li><a href="/katonghuashu/">卡通花束</a></li>
                </ul>
                <h4><a href="/Plant/">绿植</a></h4>
                <ul class="cate-list list-inline">
                    <li><a href="/Plant/greenplant/">绿色植物</a></li>
                    <li><a href="/Plant/potflower/">盆栽花卉</a></li>
                </ul>
            </div>
        </div>
        <ul class="nav">
            <li><a href="/">首页</a></li>
            <li><a href="/flower/">鲜花</a></li>
            <li><a href="/yongshenghua/">永生花</a></li>
            <li><a href="/cake/">蛋糕</a></li>
            <li><a href="/gifts/">礼品</a></li>
            <li><a href="/huayu/">花语大全</a></li>
        </ul>
    </div>
</nav>
<!-- 导航 End -->
<div class="container">
    <div class="breadcrumbs"><a href="/">首页</a> &gt; <a href="/Member/MemberCenter/">会员中心</a></div>
    <div class="wrapper about">
        


<div class="pull-left w970 l230">
    <div class="box-border member-r">
        <div class="title">您好，欢迎进入会员中心</div>

        <div class="member-info">
            <div class="user">
                <div class="avatar">
                    <a href="/member/accountsetting/personinfomanage">
                            <img src="__INDEX__STATIC__/assets/img/avatar_default_09.jpg">
                    </a>
                </div>
                <p>
                    wgqthxxxxm<br>
                    <span class="ico ico-pthy"></span>
普通会员                </p>
            </div>
            <div class="my-counts">
                <a href="/member/order/?zt=1&amp;sj=0">
                    <b><span class="ico ico-m-pay"></span></b>待付款  <span class="">0</span>
                </a>

                <a href="/member/order/?zt=3&amp;sj=0">
                    <b><span class="ico ico-m-receive"></span></b>今日配送 <span class="">0</span>
                </a>

                <a href="/member/order/?zt=4&amp;sj=0">
                    <b><span class="ico ico-m-comment"></span></b>待评价 <span class="">0</span>
                </a>
            </div>
            <ul class="my-stuffs list-unstyled">
                <li><a href="/member/payment/myvirtualaccount">余额: 0</a></li>
                <li><a href="/member/payment/myscores">积分: 0</a></li>
                <li><a href="/member/payment/mycoupon">优惠券: 0</a></li>
            </ul>

            <div class="verify-mobile">
            </div>
        </div>

            <div class="how-vip">
                <h3>如何成为VIP</h3>
                <p>您在hua.com成功购物一次，送货完毕后系统将自动将您的会员级别升至VIP，享受鲜花最高9折优惠。<br>会员级别将在送货完毕后一个工作日内完成升级，重大节日（即情人节、母亲节、七夕节、圣诞节和春节）需二个工作日左右。</p>
            </div>

        <div class="member-panel">
            <div class="hd">
                <a href="/Member/Order/MyAttention">查看更多关注 &gt;&gt; </a>
                <h4>我的关注</h4>
            </div>
            <div class="bd">

                    <p align="center"></p><center><font color="red"><b>您好,您没有关注的记录</b></font></center><p></p>
            </div>
        </div>
    </div>
</div>

    {include file="Member/AccountSetting/guide"}
    <!-- 尾部导航 -->
    {include file="public/about"}
    <!-- 尾部导航 End -->
    <script>
        var activeItem = 'memberCenterItem';
        $("#containerBody").find('li').each(function () {
            $(this).removeClass("active");
            if ($(this).attr('id') == activeItem) {
                $(this).addClass("active");
            }
        })
    </script>

    <script type="text/javascript">
        function reqUrlParam(paras) {
            var url = location.href;
            var paraString = url.substring(url.indexOf("?") + 1, url.length).split("&");
            var paraObj = {}
            for (i = 0; j = paraString[i]; i++) {
                paraObj[j.substring(0, j.indexOf("=")).toLowerCase()] = j.substring(j.indexOf("=") + 1, j.length);
            }
            var returnValue = paraObj[paras.toLowerCase()];
            if (typeof (returnValue) == "undefined") {
                return "";
            } else {
                return returnValue;
            }
        }
        function setCurUrlClass() {
            // css : class = "color_tj"
            var pathname1 = window.location.pathname;
            $("a[href='" + pathname1 + "'").addClass("color_tj");
        }
        if ($("#pjCount").length > 0) {
            $.get("/productpj/GetPJCount", function (data) {
                $("#pjCount").text(data);
            });
        }
    </script>

</body>