


<!DOCTYPE html>
<html lang="zh-CN">
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="zh-cn" http-equiv="Content-Language" />
    <meta name="mobile-agent" content="format=xhtml;url=http://m.hua.com/profile/media.html">
    <title>媒体报道-中国鲜花礼品网（花礼网）</title>
    <meta name="description" content="媒体报道-中国鲜花礼品网有关的新闻报道汇总" /><meta name="keywords" content="中国鲜花礼品网媒体报道,鲜花网新闻报道" />

<link type="text/css" rel="stylesheet" href="../css/common.css">
<link type="text/css" rel="stylesheet" href="../css/public.css">
<link type="text/css" rel="stylesheet" href="../css/pagination.css">
<!--[if lt IE 9]>
        <script src="__INDEX__STATIC__/js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
	<!-- 顶部导航 -->
	<div class="site-nav">
		<div class="container">
			<ul class="site-nav-l">
				<li class="menu">
					<a href="http://www.hua.com/" onClick="addfavorite();return false;"><span class="ico ico-star"></span>收藏鲜花网</a>
				</li>
				<li class="menu dropdown">
					<a href="/mobile/" data-hover="dropdown" data-delay="0" target="_blank"><span class="ico ico-mobile"></span>手机花礼</a>
					<div class="dropdown-menu dropdown-weixin">
						<img src="__INDEX__STATIC__/picture/app_qrcode.jpg" height="124" width="124">
		                <p>用手机客户端 享特别优惠</p>
		            </div>
				</li>
			</ul>
			<ul class="site-nav-r">
				<li class="menu login" id="LoginInfo"></li>
				<li class="site-nav-pipe">|</li>
				<li class="menu">
					<a href="/help/ordercx/" rel="nofollow" target="_blank">订单查询</a>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/help/" data-hover="dropdown" data-delay="0" target="_blank">客户服务<span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-service">
		                <a href="/member/payment/balancefill" target="_blank">在线付款</a>
		                <a href="/help/" target="_blank">帮助中心</a>
		                <a href="/help/afterservice.htm" target="_blank">售后服务</a>
		                <a href="/help/sendRange.htm" target="_blank">配送范围</a>
		                <a href="/chat/" target="_blank">留言反馈</a>
		            </div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/shopping/showcart" data-hover="dropdown" data-delay="0" rel="nofollow" target="_blank"><span class="ico ico-cart"></span>购物车<span class="text-primary" id="gwcCount"></span><span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-cart" id="CartInfo"></div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu slogan">
					中国鲜花礼品网-媒体报道
				</li>
			</ul>
		</div>
	</div>
	<!-- 顶部导航 End -->
		<!-- 头部 -->
	<header>
		<div class="logo">
			<h1><a href="http://www.hua.com/" class="logo-bd">中国鲜花礼品网-媒体报道</a></h1>
			<i></i>
			<h2>中国鲜花礼品网 始于2005，简称花礼网</h2>
		</div>
		<div class="search"><form name="i_search" method="post" action="/search/">
			<div class="input-group">
				<input name="keyword" type="text" class="form-control" placeholder="商品关键词">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" onClick="this.form.submit()">搜索</button>
				</span>
			</div></form>
			<span class="help-block"><a href="/hongmeigui/">红玫瑰</a> | <a href="/flowersong/">永生花</a> | <a href="/shengriliwu/">生日鲜花</a> | <a href="/gifts/goldenflower/">金玫瑰</a></span>
		</div>
		<div class="service">
			<span class="ico ico-phone"></span>400-889-8188
			<a href="/chat/"><span class="ico ico-headset"></span>在线客服</a>
		</div>
	</header>
	<!-- 头部 End -->
	
	<!-- 导航 -->
	<nav class="common">
		<div class="container">
			<div class="categorys dropdown">
				<h3 class="categorys-title" data-hover="dropdown" data-delay="0">
					<a href="/all.html"><span class="pull-right glyphicon glyphicon-menu-down"></span>全部商品导购</a>
				</h3>
				<div class="dropdown-menu dropdown-cate">
		        	<h4><a href="/flower/">鲜花</a></h4>
		        	<ul class="cate-list list-inline">
		        		<li><a href="/aiqingxianhua/">爱情鲜花</a></li>
		        		<li><a href="/youqingxianhua/">友情鲜花</a></li>
		        		<li><a href="/shengriliwu/">生日鲜花</a></li>
						<li><a href="/songzhangbeixianhua/">问候长辈</a></li>
						<li><a href="/zhufuqinghexianhua/">祝贺鲜花</a></li>
						<li><a href="/hunqingxianhua/">婚庆鲜花</a></li>
		        		<li><a href="/tanbingweiwenxianhua/">探病慰问</a></li>
						<li><a href="/daoqianxianhua/">道歉鲜花</a></li>
		        		<li><a href="/businessFlower/kaiyehualan/">开业花篮</a></li>
		        	</ul>
		        	<h4><a href="/flowersong/">永生花</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a href="/yongshenghua/yongshenghua_box.html">经典花盒</a></li>
	        			<li><a href="/yongshenghua/yongshenghua_large.html">巨型玫瑰</a></li>
	        			<li><a href="/yongshenghua/yongshenghua_lavender.html">薰衣草</a></li>
		        	</ul>
					
					<h4><a href="/cake/">蛋糕</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a href="/cake/ganso/">元祖</a></li>
	        			<li><a href="/cake/holiland/">好利来</a></li>
	        			<li><a href="/cake/croissants/">可颂坊</a></li>
						<li><a href="/cake/ganso/">窝夫小子</a></li>
	        			<li><a href="/cake/holiland/">米卡米卡</a></li>
	        			<li><a href="/cake/ganso/">一品轩</a></li>
						<li><a href="/cake/allcitycake/">全国品牌</a></li>
		        	</ul>
					<h4><a href="/gifts/">礼品</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a href="/livingflower/">泰国保鲜花</a></li>
	        			<li><a href="/gifts/goldenflower/">金箔花</a></li>
	        			<li><a href="/gifts/musicbox/">音乐盒</a></li>
						<li><a href="/gifts/crystallaser/">水晶内雕</a></li>
	        			<li><a href="/gifts/cosmeticmirror/">化妆镜</a></li>
	        			<li><a href="/gifts/kingking/">香薰系列</a></li>
						<li><a href="/toys/">品牌公仔</a></li>
						<li><a href="/gifts/bestlife/">音乐睡枕</a></li>
						<li><a href="/katonghuashu/">卡通花束</a></li>	
		        	</ul>
					<h4><a href="/Plant/">绿植</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a href="/plant/greenplant/">绿色植物</a></li>
			       		<li><a href="/plant/potflower/">盆栽花卉</a></li>
		        	</ul>		     
		        </div>
			</div>        
			<ul class="nav">
			    <li><a href="/">首页</a></li>
				<li><a href="/flower/">鲜花</a></li>
				<li><a href="/yongshenghua/">永生花</a></li>
				<li><a href="/cake/">蛋糕</a></li>
				<li><a href="/gifts/">礼品</a></li>
				<li><a href="/huayu/">花语大全</a></li>
			</ul>
		</div>
	</nav>
	<!-- 导航 End -->

	<!-- 内容 -->
	<div class="container">
		<div class="breadcrumbs"><a href="http://www.hua.com">首页</a> &gt; <a href="media.html">媒体报道</a></div>
		<div class="wrapper about">
			<div class="pull-left w970 l230">
				<div class="box-border">
					<div class="article">
						<h3>
							<img src="__INDEX__STATIC__/picture/about_bg_07.jpg" height="50" width="310">
						  <b>MEDIA</b>
							媒体报道
						</h3>
					  <ul class="center-list1">
							
                                        <li><a href="http://www.hua.com/profile/17639.html" target="_blank">百易（花礼网）获2016年国家级高新技术企业认定</a><span>2016-11-30</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/17533.html" target="_blank">花礼网与"不要音乐"合作打造国内大型音乐旅行节目</a><span>2016-10-26</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/17371.html" target="_blank">鲜花助力920表白节，看花礼网如何玩转“920”？</a><span>2016-09-14</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/17190.html" target="_blank">教师节临近鲜花走俏   康乃馨仍然最抢手</a><span>2016-09-01</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/16165.html" target="_blank">花礼网携手陌陌礼物商城推出鲜花即时送</a><span>2016-06-05</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/15419.html" target="_blank">花礼网微电影《勇敢爱》倾情巨献</a><span>2016-04-13</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/13828.html" target="_blank">花礼网发布2015中国浪漫城市排行榜，北深高居前两位</a><span>2015-12-24</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/12611.html" target="_blank">花礼网携手科大讯飞引领移动订花新革命</a><span>2015-09-24</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/12545.html" target="_blank">花礼网荣获2015年鲜花礼品行业龙头奖</a><span>2015-09-09</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/11922.html" target="_blank">鲜花市场剑拔弩张 电商纷纷另辟蹊径</a><span>2015-02-12</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/11283.html" target="_blank">中国鲜花礼品网获评“鲜花礼品电商龙头企业”</a><span>2014-01-06</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/11270.html" target="_blank">“花示爱体”蹿红网络，网友争相表白</a><span>2013-12-19</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/11098.html" target="_blank">正规订花网站如何防止假冒“情感受损”?</a><span>2013-08-27</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/11193.html" target="_blank">京东上线JD.com，盘点中国电商短域名</a><span>2013-04-17</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10579.html" target="_blank">张杰深圳演唱会温情落幕 歌迷鲜花求婚感动全场</a><span>2012-12-25</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10529.html" target="_blank">2012中国网上零售年会：中国鲜花礼品网获最佳用户体验奖</a><span>2012-11-28</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10474.html" target="_blank">盘点前十中国鲜花速递网站，看行业发展</a><span>2012-11-02</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10456.htm" target="_blank">鲜花速递行业搭第三方支付快车 加速破冰进程</a><span>2012-10-26</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10417.html" target="_blank">中国鲜花礼品网：幸福快车 全年无休</a><span>2012-10-12</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10414.html" target="_blank">美在真实，中国鲜花礼品网首推“花礼实拍秀”</a><span>2012-10-09</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10413.html" target="_blank">中国鲜花礼品网，引领网上送花潮流</a><span>2012-10-09</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10372.html" target="_blank">中国鲜花礼品网创意洋溢，创意产品花样百出</a><span>2012-08-31</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10367.html" target="_blank">鲜花速递渐成气候，选择可靠的鲜花网站是关键</a><span>2012-08-15</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10358.html" target="_blank">鲜花网“天价”购入域名hua.com，风险还是机会？</a><span>2012-08-06</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10356.html" target="_blank">中国鲜花礼品网悄然启用hua.com新域名</a><span>2012-07-25</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10357.html" target="_blank">启用hua.com域名,中国鲜花礼品网新战略</a><span>2012-07-25</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10354.html" target="_blank">2010年消费者最信赖的100家网站</a><span>2011-05-27</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10353.html" target="_blank">58团购0元送大礼感恩母亲节</a><span>2011-04-29</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10355.html" target="_blank">这个情人节 让我们过得更诗情画意</a><span>2010-02-08</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10352.html" target="_blank">“2009消费者喜爱网站TOP100”榜单揭晓</a><span>2009-11-20</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10351.html" target="_blank">“百佳品牌购物网站”十强 老将新秀齐争锋</a><span>2009-10-10</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10350.html" target="_blank">网上办年货今春新时尚</a><span>2009-07-31</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10345.html" target="_blank">支付宝发布鲜花行业新接口</a><span>2007-05-31</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10341.html" target="_blank">双节搅热鲜花市场 红玫瑰价格一日翻番</a><span>2007-01-29</span></li>
                                
                                        <li><a href="http://www.hua.com/profile/10340.html" target="_blank">“心愿之旅”特别行动</a><span>2006-12-27</span></li>
                                       
					</div>
				</div>
			</div>
			<div class="pull-left w210 r970">
				<div class="box-border">
					<div class="hd"><b></b><a href="/profile/about.htm">关于我们</a></div>
					<ul class="bd">
						<li><a href="news.htm"><span class="ico ico-about1"></span>公司动态</a></li>
						<li class="active"><a href="media.html"><span class="ico ico-about2"></span>媒体报道</a></li>
						<li><a href="culture.htm"><span class="ico ico-about3"></span>企业文化</a></li>
						<li><a href="/productpj/"><span class="ico ico-about4"></span>客户体验</a></li>
						<li><a href="gdsj.html"><span class="ico ico-about5"></span>感动瞬间</a></li>
						<li><a href="/XianHuaShiPai/"><span class="ico ico-about6"></span>订单实拍秀</a></li>
						<li><a href="why_choose_us.htm"><span class="ico ico-about7"></span>为什么选择我们</a></li>
						<li><a href="contact.htm"><span class="ico ico-about8"></span>联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
		<!-- 尾部导航 -->
	<div class="footer-nav">
		<a href="/">首页</a> <b>|</b> <a href="/profile/about.htm" target="_blank">关于我们</a> <b>|</b> <a href="/profile/media.html" target="_blank">媒体报道</a> <b>|</b> <a href="/profile/contact.htm" target="_blank">联系方式</a> <b>|</b> <a href="/help/GroupBuy.htm" target="_blank">团购合作</a> <b>|</b> <a href="/liansuo/" target="_blank">花店加盟</a> <b>|</b> <a href="/member/payment/balancefill" target="_blank">在线补款</a> <b>|</b> <a class="last-child" href="/profile/why_choose_us.htm" target="_blank">为什么选择中国鲜花礼品网</a>
	</div>
	<!-- 尾部导航 End -->
		<!-- 通用尾部 -->
	<footer>
		<div class="auth">
			<a href="http://kxlogo.knet.cn/seallogo.dll?sn=e15041744030058395oqbo000000&size=4" target="_blank"><img src="__INDEX__STATIC__/picture/kxwz.gif" height="40" width="109"></a>
			<a href="https://search.szfw.org/cert/l/CX20130306002238002312" target="_blank"><img src="__INDEX__STATIC__/picture/cxwz.gif" height="40" width="112"></a>
			<a href="http://www.anquan.org/authenticate/cert/?site=www.hua.com&at=realname" rel="nofollow" target="_blank"><img src="__INDEX__STATIC__/picture/smyz.gif" height="40" width="106"></a>
			<img src="__INDEX__STATIC__/picture/slogan.png" height="50" width="212">
			<a href="/member/payment/fillbyalipay?order_no=&order_sum=" rel="nofollow" target="_blank"><img src="__INDEX__STATIC__/picture/zfb.gif" height="49" width="96"></a>
			<a href="/profile/news_20111110.htm" target="_blank"><img src="__INDEX__STATIC__/picture/100.jpg" height="49" width="150"></a>
		</div>
		<p><a href="/profile/ChinaFlowerAssociation.htm" rel="nofollow" target="_blank" title="中国花卉协会会员">中国花卉协会会员</a> <a href="/profile/chinaECA.htm" rel="nofollow" target="_blank">中国电子商务协会会员</a> ICP经营许可证：<a href="/profile/ICP.htm" rel="nofollow" target="_blank">粤B2-20050744</a> <b>|</b> <a href="http://www.miibeian.gov.cn" rel="nofollow" target="_blank">粤ICP备09171662号</a> Copyright &copy; 2005-2015</p> 
		<p>中国鲜花礼品网-媒体报道 <a href="http://www.hua.com/">www.hua.com</a></p>
	</footer>
	<!-- 通用尾部 End -->


    <script type="text/javascript"  src="__INDEX__STATIC__/js/common_ht.js"></script>
    <script type="text/javascript" src="__INDEX__STATIC__/js/statesandright.js"></script>

</body>
</html>