

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="zh-cn" http-equiv="Content-Language" />
    <meta name="mobile-agent" content="format=xhtml;url=http://m.hua.com/profile/news.htm">
    <title>公司动态-中国鲜花礼品网（花礼网）</title>
    <meta name="description" content="公司动态-中国鲜花礼品网，国内领先鲜花速递服务商，您通过本栏目了解中国鲜花礼品网相关动态信息。" /><meta name="keywords" content="中国鲜花礼品网，鲜花网动态" />

<link type="text/css" rel="stylesheet" href="../css/common.css">
<link type="text/css" rel="stylesheet" href="../css/public.css">
<link type="text/css" rel="stylesheet" href="../css/pagination.css">
<!--[if lt IE 9]>
        <script src="__INDEX__STATIC__/js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
			<!-- 顶部导航 -->
	<div class="site-nav">
		<div class="container">
			<ul class="site-nav-l">
				<li class="menu">
					<a href="http://www.hua.com/" onClick="addfavorite();return false;"><span class="ico ico-star"></span>收藏鲜花网</a>
				</li>
				<li class="menu dropdown">
					<a href="/mobile/" data-hover="dropdown" data-delay="0" target="_blank"><span class="ico ico-mobile"></span>手机花礼</a>
					<div class="dropdown-menu dropdown-weixin">
						<img src="__INDEX__STATIC__/picture/app_qrcode.jpg" height="124" width="124">
		                <p>用手机客户端 享特别优惠</p>
		            </div>
				</li>
			</ul>
			<ul class="site-nav-r">
				<li class="menu login" id="LoginInfo"></li>
				<li class="site-nav-pipe">|</li>
				<li class="menu">
					<a href="/help/ordercx/" rel="nofollow" target="_blank">订单查询</a>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/help/" data-hover="dropdown" data-delay="0" target="_blank">客户服务<span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-service">
		                <a href="/member/payment/balancefill" target="_blank">在线付款</a>
		                <a href="/help/" target="_blank">帮助中心</a>
		                <a href="/help/afterservice.htm" target="_blank">售后服务</a>
		                <a href="/help/sendRange.htm" target="_blank">配送范围</a>
		                <a href="/chat/" target="_blank">留言反馈</a>
		            </div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/shopping/showcart" data-hover="dropdown" data-delay="0" rel="nofollow" target="_blank"><span class="ico ico-cart"></span>购物车<span class="text-primary" id="gwcCount"></span><span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-cart" id="CartInfo"></div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu slogan">
					中国鲜花礼品网-公司动态
				</li>
			</ul>
		</div>
	</div>
	<!-- 顶部导航 End -->
		<!-- 头部 -->
	<header>
		<div class="logo">
			<h1><a href="http://www.hua.com/" class="logo-bd">中国鲜花礼品网-公司动态</a></h1>
			<i></i>
			<h2>中国鲜花礼品网 始于2005，简称花礼网</h2>
		</div>
		<div class="search"><form name="i_search" method="post" action="/search/">
			<div class="input-group">
				<input name="keyword" type="text" class="form-control" placeholder="商品关键词">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" onClick="this.form.submit()">搜索</button>
				</span>
			</div></form>
			<span class="help-block"><a href="/hongmeigui/">红玫瑰</a> | <a href="/flowersong/">永生花</a> | <a href="/shengriliwu/">生日鲜花</a> | <a href="/gifts/goldenflower/">金玫瑰</a></span>
		</div>
		<div class="service">
			<span class="ico ico-phone"></span>400-889-8188
			<a href="/chat/"><span class="ico ico-headset"></span>在线客服</a>
		</div>
	</header>
	<!-- 头部 End -->
	
	<!-- 导航 -->
	<nav class="common">
		<div class="container">
			<div class="categorys dropdown">
				<h3 class="categorys-title" data-hover="dropdown" data-delay="0">
					<a href="/all.html"><span class="pull-right glyphicon glyphicon-menu-down"></span>全部商品导购</a>
				</h3>
				<div class="dropdown-menu dropdown-cate">
		        	<h4><a href="/flower/">鲜花</a></h4>
		        	<ul class="cate-list list-inline">
		        		<li><a href="/aiqingxianhua/">爱情鲜花</a></li>
		        		<li><a href="/youqingxianhua/">友情鲜花</a></li>
		        		<li><a href="/shengriliwu/">生日鲜花</a></li>
						<li><a href="/songzhangbeixianhua/">问候长辈</a></li>
						<li><a href="/zhufuqinghexianhua/">祝贺鲜花</a></li>
						<li><a href="/hunqingxianhua/">婚庆鲜花</a></li>
		        		<li><a href="/tanbingweiwenxianhua/">探病慰问</a></li>
						<li><a href="/daoqianxianhua/">道歉鲜花</a></li>
		        		<li><a href="/businessFlower/kaiyehualan/">开业花篮</a></li>
		        	</ul>
		        	<h4><a href="/flowersong/">永生花</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a href="/yongshenghua/yongshenghua_box.html">经典花盒</a></li>
	        			<li><a href="/yongshenghua/yongshenghua_large.html">巨型玫瑰</a></li>
	        			<li><a href="/yongshenghua/yongshenghua_lavender.html">薰衣草</a></li>
		        	</ul>
					
					<h4><a href="/cake/">蛋糕</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a href="/cake/ganso/">元祖</a></li>
	        			<li><a href="/cake/holiland/">好利来</a></li>
	        			<li><a href="/cake/croissants/">可颂坊</a></li>
						<li><a href="/cake/ganso/">窝夫小子</a></li>
	        			<li><a href="/cake/holiland/">米卡米卡</a></li>
	        			<li><a href="/cake/ganso/">一品轩</a></li>
						<li><a href="/cake/allcitycake/">全国品牌</a></li>
		        	</ul>
					<h4><a href="/gifts/">礼品</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a href="/livingflower/">泰国保鲜花</a></li>
	        			<li><a href="/gifts/goldenflower/">金箔花</a></li>
	        			<li><a href="/gifts/musicbox/">音乐盒</a></li>
						<li><a href="/gifts/crystallaser/">水晶内雕</a></li>
	        			<li><a href="/gifts/cosmeticmirror/">化妆镜</a></li>
	        			<li><a href="/gifts/kingking/">香薰系列</a></li>
						<li><a href="/toys/">品牌公仔</a></li>
						<li><a href="/gifts/bestlife/">音乐睡枕</a></li>
						<li><a href="/katonghuashu/">卡通花束</a></li>	
		        	</ul>
					<h4><a href="/Plant/">绿植</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a href="/plant/greenplant/">绿色植物</a></li>
			       		<li><a href="/plant/potflower/">盆栽花卉</a></li>
		        	</ul>		     
		        </div>
			</div>        
			<ul class="nav">
			    <li><a href="/">首页</a></li>
				<li><a href="/flower/">鲜花</a></li>
				<li><a href="/yongshenghua/">永生花</a></li>
				<li><a href="/cake/">蛋糕</a></li>
				<li><a href="/gifts/">礼品</a></li>
				<li><a href="/huayu/">花语大全</a></li>
			</ul>
		</div>
	</nav>
	<!-- 导航 End -->

	<!-- 内容 -->
    	<div class="container">
		<div class="breadcrumbs"><a href="http://www.hua.com/">首页</a> &gt; <a href="/profile/news.htm">公司动态</a></div>
		<div class="wrapper about">
			<div class="pull-left w970 l230">
				<div class="box-border">
					<div class="article">
						<h3>
							<img src="__INDEX__STATIC__/picture/about_bg_07.jpg" height="50" width="310">
						  <b>NEWS</b>
							公司动态
						</h3>
                        <ul class="center-list1">

                        
                             <li><a href="http://www.hua.com/profile/17640.html" target="_blank">花礼网2016圣诞节新品出炉啦~选礼物不要错过这里！</a><span>2016-11-30</span></li>
                        
                             <li><a href="http://www.hua.com/profile/17600.html" target="_blank">上海新湘会成员莅临深圳总部花礼网参观指导</a><span>2016-11-18</span></li>
                        
                             <li><a href="http://www.hua.com/profile/17527.html" target="_blank">10月份秋高气爽 花礼网hua.com组织客服部员工分批旅行</a><span>2016-10-23</span></li>
                        
                             <li><a href="http://www.hua.com/profile/17526.html" target="_blank">10月永生花新品限量版上架  秋冬请深陷爱情</a><span>2016-10-19</span></li>
                        
                             <li><a href="http://www.hua.com/profile/17450.html" target="_blank">“花礼网”与“不要音乐”联袂合作   打造大型音乐旅行节目</a><span>2016-09-22</span></li>
                        
                             <li><a href="http://www.hua.com/profile/17205.html" target="_blank">花礼网内部员工花艺培训，共同演绎花艺精彩</a><span>2016-09-05</span></li>
                        
                             <li><a href="http://www.hua.com/profile/17154.html" target="_blank">花礼网教师节新品上线，不凋谢的永生花现低价购买！</a><span>2016-08-31</span></li>
                        
                             <li><a href="http://www.hua.com/profile/17080.html" target="_blank">花礼网中秋节月饼上线，教师节中秋节超值推荐！</a><span>2016-08-25</span></li>
                        
                             <li><a href="http://www.hua.com/profile/16501.html" target="_blank">两大B2C电商强强联合：花礼网“七夕节鲜花”专场入驻唯品会</a><span>2016-07-18</span></li>
                        
                             <li><a href="http://www.hua.com/profile/16350.html" target="_blank">《勇敢爱》专题全新上线，让我们一起勇敢爱！</a><span>2016-07-03</span></li>
                        
                             <li><a href="http://www.hua.com/profile/16305.html" target="_blank">这样送花才洋气，花礼网（hua.com）最新高档鲜花礼盒隆重上线！</a><span>2016-06-22</span></li>
                        
                             <li><a href="http://www.hua.com/profile/16072.html" target="_blank">520“勇敢爱”活动已圆满结束，3名获奖者“爱情故事”太感人！</a><span>2016-05-27</span></li>
                        
                             <li><a href="http://www.hua.com/profile/15941.html" target="_blank">花礼网重磅推出520表白新品，创意爆表！</a><span>2016-05-17</span></li>
                        
                             <li><a href="http://www.hua.com/profile/15577.html" target="_blank">春暖花开好时节，春季新品大赏</a><span>2016-04-21</span></li>
                        
                             <li><a href="http://www.hua.com/profile/15418.html" target="_blank">从未见过如此可爱的花店，看看小花家的H5</a><span>2016-04-13</span></li>
                        
                             <li><a href="http://www.hua.com/profile/15069.html" target="_blank">花礼网APP全新改版，好评不断！</a><span>2016-03-17</span></li>
                        
                             <li><a href="http://www.hua.com/profile/14938.html" target="_blank">赶快来玩，花礼游乐园开放啦！</a><span>2016-03-08</span></li>
                        
                             <li><a href="http://www.hua.com/profile/14604.html" target="_blank">HUA.com礼品卡全新上市</a><span>2016-02-18</span></li>
                        
                             <li><a href="http://www.hua.com/profile/14551.html" target="_blank">花礼网微电影《勇敢爱》倾情巨献</a><span>2016-02-15</span></li>
                        
                             <li><a href="http://www.hua.com/profile/14213.html" target="_blank">逢节必惠，招行携手花礼网屡推活动专题</a><span>2016-01-20</span></li>
                        
                             <li><a href="http://www.hua.com/profile/14156.html" target="_blank">大片风范，花礼网推出情境体验式广告</a><span>2016-01-15</span></li>
                        
                             <li><a href="http://www.hua.com/profile/12543.html" target="_blank">花礼网获“2015年鲜花礼品行业龙头奖”殊荣</a><span>2015-09-09</span></li>
                        
                             <li><a href="http://www.hua.com/profile/12405.html" target="_blank">Hua.com网站全新改版</a><span>2015-07-20</span></li>
                        
                             <li><a href="http://www.hua.com/profile/11888.html" target="_blank">中国鲜花礼品网正式启用简称品牌“花礼网”</a><span>2015-01-29</span></li>
                        
                             <li><a href="http://www.hua.com/profile/11887.html" target="_blank">FlowerSong永生花频道正式上线</a><span>2014-07-08</span></li>
                        
                             <li><a href="http://www.hua.com/profile/11277.html" target="_blank">HUA.com获评“中国互联网电子商务鲜花礼品行业龙头企业”</a><span>2013-12-22</span></li>
                        
                             <li><a href="http://www.hua.com/profile/11212.html" target="_blank">“HUA示爱体”风靡网络</a><span>2013-12-19</span></li>
                        
                             <li><a href="http://www.hua.com/profile/11159.html" target="_blank">联手招行，Hua.com力推“黄金网购两小时”抽奖活动</a><span>2013-10-09</span></li>
                        
                             <li><a href="http://www.hua.com/profile/11053.html" target="_blank">中国鲜花礼品网“手机版”全新上线</a><span>2013-08-06</span></li>
                        
                             <li><a href="http://www.hua.com/profile/10872.html" target="_blank">2013（B2B）电商经理人年会 指定鲜花服务商</a><span>2013-05-07</span></li>
                        
                             <li><a href="http://www.hua.com/profile/10862.html" target="_blank">情系雅安，感谢您参与爱心义卖活动</a><span>2013-04-28</span></li>
                        
                             <li><a href="http://www.hua.com/profile/10843.html" target="_blank">情系雅安，中国鲜花礼品网捐款10万元，启动爱心义卖活动</a><span>2013-04-22</span></li>
                        
                             <li><a href="http://www.hua.com/profile/10853.html" target="_blank">我司荣获“中国互联网电子商务诚信示范企业”称号</a><span>2013-03-06</span></li>
                        
                             <li><a href="http://www.hua.com/profile/10701.html" target="_blank">史上最全对比/选择鲜花网站攻略</a><span>2013-02-11</span></li>
                        
                             <li><a href="http://www.hua.com/profile/10681.html" target="_blank">2013年春节假期照常营业，客服工作时间调整通知</a><span>2013-02-04</span></li>
                        
                             <li><a href="http://www.hua.com/profile/10555.html" target="_blank">新浪微博上线 启动“关注见面礼”活动</a><span>2012-12-10</span></li>
                        
                             <li><a href="http://www.hua.com/profile/10522.html" target="_blank">第七届中国网上零售年会 指定鲜花服务商</a><span>2012-11-26</span></li>
                        
                             <li><a href="http://www.hua.com/profile/10530.html" target="_blank">2012年度中国网上零售年会 最佳用户体验奖</a><span>2012-11-26</span></li>
                        
                             <li><a href="http://www.hua.com/profile/10495.html" target="_blank">中国鲜花礼品网助阵“张杰2012首个个人生日演唱会”</a><span>2012-11-13</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20120319.htm" target="_blank">中国鲜花礼品网正式启用hua.com为主域名(原域名FlowerCN.com)</a><span>2012-07-16</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20120113.htm" target="_blank">春节假期照常营业，客服工作时间调整通知</a><span>2012-01-12</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20111110.htm" target="_blank">中国鲜花礼品网 入选2011年度消费者最喜爱的网站TOP100</a><span>2011-11-10</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20110423.htm" target="_blank">“第六届中小企业电子商务应用发展大会”指定鲜花服务商</a><span>2011-04-23</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20110201.htm" target="_blank">中国鲜花礼品网-2011年情人节订购服务声明</a><span>2011-02-01</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20100127.htm" target="_blank">春节假期照常营业，客服工作时间调整通知</a><span>2011-01-27</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20101210..htm" target="_blank">中国鲜花礼品网 入选2010中国网上零售诚信品牌100强</a><span>2010-12-10</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20100901.htm" target="_blank">国庆假期照常营业，客服工作时间调整通知</a><span>2010-09-30</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20100501.htm" target="_blank">中国鲜花礼品网荣获APEC“2010中国电子商务e价值榜‘金种子’奖”</a><span>2010-05-22</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20100102.htm" target="_blank">中国鲜花礼品网-2010年情人节/春节鲜花订购服务声明</a><span>2010-02-01</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20100101.htm" target="_blank">中国鲜花礼品网--礼品卡专区开通啦</a><span>2010-01-01</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20091101.htm" target="_blank">中国鲜花礼品网荣获“2009年消费者最喜爱的网站TOP100”称号</a><span>2009-11-21</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20090901.htm" target="_blank">中国鲜花礼品网荣获“百佳品牌购物网站”称号</a><span>2009-09-29</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20090801.htm" target="_blank">新品上市：泰国保鲜花-FIORA鲜花花瓶！</a><span>2009-08-07</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20090701.htm" target="_blank">深圳一品轩蛋糕上线订购啦！</a><span>2009-07-01</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20090402.htm" target="_blank">乔迁新址通知</a><span>2009-04-26</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20090401.htm" target="_blank">“第四届中国中小企业电子商务应用发展大会”指定鲜花服务商</a><span>2009-04-19</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20090102.htm" target="_blank">中国鲜花礼品网-2009年情人节鲜花订购服务声明</a><span>2009-01-10</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20090101.htm" target="_blank">中国鲜花礼品网-2009年春节鲜花礼品配送的通知</a><span>2009-01-04</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20081101.htm" target="_blank">中国鲜花礼品网-本公司专用短信号码的特别提醒</a><span>2008-11-17</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20080701.htm" target="_blank">中国鲜花礼品网-众志成城，抗震救灾（续）</a><span>2008-07-08</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20080502.htm" target="_blank">中国鲜花礼品网-众志成城，抗震救灾</a><span>2008-05-14</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20080501.htm" target="_blank">中国鲜花礼品网-2008年母亲节鲜花订购服务声明</a><span>2008-05-01</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20080302.htm" target="_blank">“第三届中小企业电子商务应用发展大会”指定鲜花服务商</a><span>2008-03-25</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20080301.htm" target="_blank">中国鲜花礼品网-新品上市通知</a><span>2008-03-25</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20080101.htm" target="_blank">中国鲜花礼品网-2008年春节鲜花礼品配送的通知</a><span>2008-01-31</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20080102.htm" target="_blank">中国鲜花礼品网-2008年情人节鲜花订购服务声明</a><span>2008-01-31</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20071202.htm" target="_blank">中国鲜花礼品网-财付通年度优惠活动！</a><span>2007-12-25</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20071201.htm" target="_blank">中国鲜花礼品网-品牌公仔频道正式上线啦！</a><span>2007-12-01</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20071101.htm" target="_blank">中国鲜花礼品网荣获“2007年消费者最喜爱的网站TOP100”称号，并同时获得"最佳服务奖"单项大奖</a><span>2007-11-30</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20061201.htm" target="_blank">中国鲜花礼品网荣获“2006消费者最喜爱的网站TOP100”称号</a><span>2006-12-20</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20061102.htm" target="_blank">中银长城国际Visa卡：网上支付大优惠活动</a><span>2006-11-29</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20061101.htm" target="_blank">中国鲜花礼品网-快钱--06年圣诞新年大促销活动</a><span>2006-11-20</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20061001.htm" target="_blank">会员充值返现活动</a><span>2006-10-09</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20060901.htm" target="_blank">升级呼叫中心系统，启用全国客服热线：400-889-8188</a><span>2006-09-01</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20060701.htm" target="_blank">玩“赚”免费机票 —— 深航-易宝休闲出行专家PK大赛</a><span>2006-07-31</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20060702.htm" target="_blank">缤纷夏日，e路爽购。YeePay易宝，支付有奖！</a><span>2006-07-31</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20060401.htm" target="_blank">关于订购系统确认邮件重要说明</a><span>2006-04-02</span></li>
                        
                             <li><a href="http://www.hua.com/profile/news_20051130.htm" target="_blank">通过广东通信管理局审批，获ICP经营许可证</a><span>2005-11-30</span></li>
                        

						</ul>
						<br><br>
					</div>
				</div>
			</div>
			<div class="pull-left w210 r970">
				<div class="box-border">
					<div class="hd"><b></b><a href="/profile/about.htm">关于我们</a></div>
					<ul class="bd">
						<li class="active"><a href="news.htm"><span class="ico ico-about1"></span>公司动态</a></li>
						<li><a href="media.html"><span class="ico ico-about2"></span>媒体报道</a></li>
						<li><a href="culture.htm"><span class="ico ico-about3"></span>企业文化</a></li>
						<li><a href="/productpj/"><span class="ico ico-about4"></span>客户体验</a></li>
						<li><a href="gdsj.html"><span class="ico ico-about5"></span>感动瞬间</a></li>
						<li><a href="/XianHuaShiPai/"><span class="ico ico-about6"></span>订单实拍秀</a></li>
						<li><a href="why_choose_us.htm"><span class="ico ico-about7"></span>为什么选择我们</a></li>
						<li><a href="contact.htm"><span class="ico ico-about8"></span>联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
		<!-- 尾部导航 -->
	<div class="footer-nav">
		<a href="/">首页</a> <b>|</b> <a href="/profile/about.htm" target="_blank">关于我们</a> <b>|</b> <a href="/profile/media.html" target="_blank">媒体报道</a> <b>|</b> <a href="/profile/contact.htm" target="_blank">联系方式</a> <b>|</b> <a href="/help/GroupBuy.htm" target="_blank">团购合作</a> <b>|</b> <a href="/liansuo/" target="_blank">花店加盟</a> <b>|</b> <a href="/member/payment/balancefill" target="_blank">在线补款</a> <b>|</b> <a class="last-child" href="/profile/why_choose_us.htm" target="_blank">为什么选择中国鲜花礼品网</a>
	</div>
	<!-- 尾部导航 End -->
		<!-- 通用尾部 -->
	<footer>
		<div class="auth">
			<a href="http://kxlogo.knet.cn/seallogo.dll?sn=e15041744030058395oqbo000000&size=4" target="_blank"><img src="__INDEX__STATIC__/picture/kxwz.gif" height="40" width="109"></a>
			<a href="https://search.szfw.org/cert/l/CX20130306002238002312" target="_blank"><img src="__INDEX__STATIC__/picture/cxwz.gif" height="40" width="112"></a>
			<a href="http://www.anquan.org/authenticate/cert/?site=www.hua.com&at=realname" rel="nofollow" target="_blank"><img src="__INDEX__STATIC__/picture/smyz.gif" height="40" width="106"></a>
			<img src="__INDEX__STATIC__/picture/slogan.png" height="50" width="212">
			<a href="/member/payment/fillbyalipay?order_no=&order_sum=" rel="nofollow" target="_blank"><img src="__INDEX__STATIC__/picture/zfb.gif" height="49" width="96"></a>
			<a href="/profile/news_20111110.htm" target="_blank"><img src="__INDEX__STATIC__/picture/100.jpg" height="49" width="150"></a>
		</div>
		<p><a href="/profile/ChinaFlowerAssociation.htm" rel="nofollow" target="_blank" title="中国花卉协会会员">中国花卉协会会员</a> <a href="/profile/chinaECA.htm" rel="nofollow" target="_blank">中国电子商务协会会员</a> ICP经营许可证：<a href="/profile/ICP.htm" rel="nofollow" target="_blank">粤B2-20050744</a> <b>|</b> <a href="http://www.miibeian.gov.cn" rel="nofollow" target="_blank">粤ICP备09171662号</a> Copyright &copy; 2005-2015</p> 
		<p>中国鲜花礼品网-公司动态 <a href="http://www.hua.com/">www.hua.com</a></p>
	</footer>
	<!-- 通用尾部 End -->


    <script type="text/javascript"  src="__INDEX__STATIC__/js/common_ht.js"></script>
    <script type="text/javascript" src="__INDEX__STATIC__/js/statesandright.js"></script>


</body>
</html>