<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>永生花_进口永生花品牌_永生玫瑰花盒订购-中国鲜花礼品网</title>
    <meta name="description" content="永生花-中国鲜花礼品网专业提供FlowerSong品牌进口永生花订购,永生玫瑰花盒配送全国服务,品种包括:经典永生花盒,巨型永生玫瑰礼盒,薰衣草永生花礼盒,厄瓜多尔进口整枝大号永生玫瑰.永生花保持了鲜花的特质、保存时间至少3年，是永不凋谢的鲜花,是现代花艺设计之首选!">
    <meta name="keywords" content="永生花，FlowerSong进口永生花品牌,永生花盒,永生玫瑰花，永生花哪里有卖?">
    <meta name="mobile-agent" content="format=xhtml;url=http://m.hua.com/yongshenghua/">
    <link type="text/css" rel="stylesheet" href="../css/common.css">
    <link type="text/css" rel="stylesheet" href="../css/public.css">
    <link type="text/css" rel="stylesheet" href="../css/owl.carousel.css">	
	<link type="text/css" rel="stylesheet" href="../css/mbar.css">
	<style>
	.all_btn{text-align:center;background:#fafafa;margin-bottom:10px;height:30px;line-height:30px;}
	.all_btn span{font-size:10px;color:#999;}
	.all_btn a:hover span{color: #f60;}
	</style>
<!--[if lt IE 9]>
        <script src="__INDEX__STATIC__/js/html5shiv.min.js"></script>
    <![endif]-->

</head>
<body class="flowersong">
		<!-- 顶部导航 -->
	<div class="site-nav">
		<div class="container">
			<ul class="site-nav-l">
				<li class="menu">
					<a href="http://www.hua.com/" onClick="addfavorite();return false;"><span class="ico ico-star"></span>收藏永生花</a>
				</li>
				<li class="menu dropdown">
					<a href="javascript:void(0)" data-hover="dropdown" data-delay="0"><span class="ico ico-weixin"></span>关注微信</a>
					<div class="dropdown-menu dropdown-weixin">
						<img src="__INDEX__STATIC__/picture/wechat_qrcode.jpg" height="124" width="124">
		                <p>扫码关注<br>回复"礼物" 更多惊喜！</p>
		            </div>
				</li>
				<li class="menu dropdown">
					<a href="/mobile/" data-hover="dropdown" data-delay="0" target="_blank"><span class="ico ico-mobile"></span>手机花礼</a>
					<div class="dropdown-menu dropdown-weixin">
						<img src="__INDEX__STATIC__/picture/app_qrcode.jpg" height="124" width="124">
		                <p>APP首单减20元！<br>(需下单时输入券号9920)</p>
		            </div>
				</li>
			</ul>
			<ul class="site-nav-r">
				<li class="menu login" id="LoginInfo"></li>
				<li class="site-nav-pipe">|</li>
				<li class="menu">
					<a href="/help/ordercx/" rel="nofollow" target="_blank">订单查询</a>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/help/" data-hover="dropdown" data-delay="0" target="_blank">客户服务<span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-service">
		                <a href="/member/payment/balancefill" target="_blank">在线付款</a>
		                <a href="/help/" target="_blank">帮助中心</a>
		                <a href="/help/afterservice.htm" target="_blank">售后服务</a>
		                <a href="/help/sendRange.htm" target="_blank">配送范围</a>
		                <a href="/chat/" target="_blank">留言反馈</a>
		            </div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/shopping/showcart" data-hover="dropdown" data-delay="0" rel="nofollow" target="_blank"><span class="ico ico-cart"></span>购物车<span class="text-primary" id="gwcCount"></span><span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-cart" id="CartInfo"></div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu slogan">
					永生花-永生玫瑰花盒

				</li>
			</ul>
		</div>
	</div>
	<!-- 顶部导航 End -->
		<!-- 头部 -->
	<header>
		<div class="logo">
			<h1><a href="http://www.hua.com/" class="logo-bd">永生花</a></h1>
			<i></i>
			<h2>中国鲜花礼品网 始于2005，简称花礼网</h2>
		</div>
		<div class="search"><form name="i_search" method="post" action="/search/">
			<div class="input-group">
				<input name="keyword" type="text" class="form-control" placeholder="商品关键词">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" onClick="this.form.submit()">搜索</button>
				</span>
			</div></form>
			<span class="help-block"><a href="/product/1073013.html"> 巨型七彩玫瑰</a> | <a href="/product/1073003.html">薰衣草特价</a> | <a href="/product/1073017.html">大号整枝玫瑰</a> | <a href="/product/1073006.html">畅销永生花盒</a></span>
		</div>
		<div class="service">
			<span class="ico ico-phone"></span>400-889-8188
			<a href="/chat/" target="_blank"><span class="ico ico-headset"></span>在线客服</a>
		</div>
	</header>
	<!-- 头部 End -->
	<!-- 导航 -->
	<nav class="common">
		<div class="container">
			<ul class="nav">
				<li><a href="/yongshenghua/">永生花</a></li>
				<li><a href="/yongshenghua/yongshenghua_box.html">经典花盒</a></li>
				<li><a href="/yongshenghua/yongshenghua_large.html">巨型玫瑰</a></li>
				<li><a href="/yongshenghua/yongshenghua_lavender.html">薰衣草</a></li>
				<li><a href="/yongshenghua/yongshenghua_vase.html">永生瓶花</a></li>
				<li><a href="/yongshenghua/yongshenghua_characteristic.html">特色永生花</a></li>
				<li><a href="/">网站首页</a></li>
			</ul>
		</div>
	</nav>
	<!-- 导航 End -->
	
	<!-- 大图轮翻 -->
	<div id="fullCarousel" class="carousel slide carousel-fade">
        <ol class="carousel-indicators">
            <li data-target="#fullCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#fullCarousel" data-slide-to="1"></li>
            <li data-target="#fullCarousel" data-slide-to="2"></li>
            <li data-target="#fullCarousel" data-slide-to="3"></li>
            <li data-target="#fullCarousel" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('../images/banner_song_01.jpg');"><a href="yongshenghua_box.html" target="_blank"></a></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/ysh_large_sagittarius.jpg');"><a href="yongshenghua_large.html" target="_blank"></a></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/banner_song_03.jpg');"><a href="yongshenghua_lavender.html" target="_blank"></a></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/banner_song_04.jpg');"><a href="yongshenghua_vase.html" target="_blank"></a></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/banner_song_05.jpg');"><a href="yongshenghua_characteristic.html" target="_blank"></a></div>
            </div>
        </div>
    </div>
	<!-- 大图轮翻 End -->

	<div class="container">

		<ul class="flowersong-pop-list" style="overflow:hidden;">
			<li><a href="/product/1060002.html" target="_blank"><img src="__INDEX__STATIC__/picture/ysh_160923.jpg" height="250" width="394"></a></li>
			<li><a href="/product/1073092.html" target="_blank"><img src="__INDEX__STATIC__/picture/ysh_160816_2.jpg" height="250" width="394"></a></li>
			<li><a href="/product/1073003.html" target="_blank"><img src="__INDEX__STATIC__/picture/ysh_161116.jpg" height="250" width="394"></a></li>
			<li class="no-ml"><a href="/product/1073101.html" target="_blank"><img src="__INDEX__STATIC__/picture/ysh_161018.jpg" height="250" width="394"></a></li>
			<li><a href="/product/1073046.html" target="_blank"><img src="__INDEX__STATIC__/picture/ysh_161121.jpg" height="250" width="394"></a></li>
			<li><a href="/product/1073010.html" target="_blank"><img src="__INDEX__STATIC__/picture/flowersong_06.jpg" height="250" width="394"></a></li>
		</ul>
		<div class="all_btn"><a href="/yongshenghua/all/">查看全部永生花<span class="glyphicon glyphicon-chevron-right"></span></a></div>
		<div class="banner">
			<a href="/product/1073017.html" target="_blank"><img src="__INDEX__STATIC__/picture/ysh_ysdcn_161116.jpg" height="346" width="1200"></a>
		</div>
		<div class="flowersong-box">
			<div class="hd">
				<a href="/yongshenghua/yongshenghua_box.html" class="more" target="_blank">MORE+</a>
				<h4>经典花盒系列</h4>
				<p>进口厄瓜多尔玫瑰，自然天成，精湛花艺之作，永不凋谢</p>
			</div>
			<div class="bd">
				<div class="bd-l">
					<a href="yongshenghua_box.html" target="_blank"><img src="__INDEX__STATIC__/picture/flowersong_banner_01.jpg" height="416" width="294"></a>
				</div>
				<div class="bd-r">
					<div class="flowersong-list owl-carousel">
						<div class="item">
							<a href="/product/1073104.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073104.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/小清新</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">358.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073103.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073103.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/兔子小姐</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">298.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073102.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073102.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/最相思</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">298.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073099.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073099.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/我要的爱</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">198.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073098.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073098.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/想你的温柔</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">198.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073006.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073006.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/仲夏夜之梦</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">528.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073010.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073010.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/海之恋</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">498.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073008.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073008.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/永爱</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">338.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073005.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073005.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/天使之心</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">488.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073007.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073007.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/爱情海</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">368.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073028.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073028.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/温暖的港湾</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">428.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073023.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073023.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/佳期如梦</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">436.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073024.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073024.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/漫步爱琴海</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">326.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073009.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073009.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/相思</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">368.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073025.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073025.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/怦然心动</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">699.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073026.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073026.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/紫为你陶醉</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">699.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073027.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073027.jpg" height="348" width="262">
								</span>
								<span class="product-title">永生花盒/宛若晨曦</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">699.00</span>
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flowersong-box">
			<div class="hd">
				<a href="yongshenghua_large.html" target="_blank" class="more">MORE+</a>
				<h4>巨型玫瑰系列</h4>
				<p>直径达9-10cm厄瓜多尔独一无二巨型玫瑰，此刻尽情绽放</p>
			</div>
			<div class="bd">
				<div class="bd-l">
					<a href="yongshenghua_large.html" target="_blank" style="left:-98px"><img src="__INDEX__STATIC__/picture/flowersong_banner_02.jpg" height="416" width="392"></a>
				</div>
				<div class="bd-r">
					<div class="flowersong-list owl-carousel">
						<div class="item">
							<a href="/product/1073100.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073100.jpg" height="348" width="262">
								</span>
								<span class="product-title">巨型永生玫瑰/彩虹下的约定</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">368.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073101.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073101.jpg" height="348" width="262">
								</span>
								<span class="product-title">巨型永生玫瑰/粉色琉璃</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">338.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073046.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073046.jpg" height="348">
								</span>
								<span class="product-title">十二星座经典七彩（12个星座可选）</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">288.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073065.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073065.jpg" height="348">
								</span>
								<span class="product-title">十二星座经典粉（12个星座可选）</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">238.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073085.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073085.jpg" height="348">
								</span>
								<span class="product-title">十二星座经典红（12个星座可选）</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">238.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073079.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073079.jpg" height="348">
								</span>
								<span class="product-title">十二星座经典蓝（12个星座可选）</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">238.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073015.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073015.jpg" height="348" width="262">
								</span>
								<span class="product-title">巨型永生玫瑰/柔粉</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">238.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073014.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073014.jpg" height="348" width="262">
								</span>
								<span class="product-title">巨型永生玫瑰/黛绿</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">238.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073011.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073011.jpg" height="348" width="262">
								</span>
								<span class="product-title">巨型永生玫瑰/紫魅</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">238.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073030.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073030.jpg" height="348" width="262">
								</span>
								<span class="product-title">巨型永生玫瑰/天蓝</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">238.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073012.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073012.jpg" height="348" width="262">
								</span>
								<span class="product-title">巨型永生玫瑰/米黄</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">238.00</span>
								</p>
							</a>
						</div>
<!-- 						<div class="item">
							<a href="/product/1073016.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073016.jpg" height="348" width="262">
								</span>
								<span class="product-title">巨型永生玫瑰/嫣红</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">238.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073029.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073029.jpg" height="348" width="262">
								</span>
								<span class="product-title">巨型永生玫瑰/宝蓝</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">238.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073031.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073031.jpg" height="348" width="262">
								</span>
								<span class="product-title">巨型永生玫瑰/嫩粉</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">238.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073013.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073013.jpg" height="348" width="262">
								</span>
								<span class="product-title">巨型永生玫瑰/溢彩</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">288.00</span>
								</p>
							</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>

		<div class="flowersong-box">
			<div class="hd">
				<a href="/yongshenghua/yongshenghua_lavender.html" target="_blank" class="more">MORE+</a>
				<h4>薰衣草系列</h4>
				<p>源自普罗旺斯，梦幻般的紫色，浪漫故事正在上演…</p>
			</div>
			<div class="bd">
				<div class="bd-l">
					<a href="yongshenghua_lavender.html" target="_blank"><img src="__INDEX__STATIC__/picture/flowersong_banner_03.jpg" height="350" width="294"></a>
				</div>
				<div class="bd-r">
					<div class="flowersong-list owl-carousel">
						<div class="item">
							<a href="/product/1073095.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073095.jpg" height="348" width="262">
								</span>
								<span class="product-title">薰衣草永生花礼盒/奢爱礼赞</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">168.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073003.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073003.jpg" height="348" width="262">
								</span>
								<span class="product-title">薰衣草永生花礼盒/触摸</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">158.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073001.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073001.jpg" height="348" width="262">
								</span>
								<span class="product-title">薰衣草永生花礼盒/感慕</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">198.00</span>
								</p>
							</a>
						</div>
<!-- 						<div class="item">
							<a href="/product/1073002.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073002.jpg" height="348" width="262">
								</span>
								<span class="product-title">薰衣草永生花礼盒/相遇</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">268.00</span>
								</p>
							</a>
						</div> -->
						<div class="item">
							<a href="/product/1073004.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073004.jpg" height="348" width="262">
								</span>
								<span class="product-title">薰衣草永生花礼盒/寻觅</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">98.00</span>
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flowersong-box">
			<div class="hd">
				<a href="/yongshenghua/yongshenghua_vase.html" target="_blank" class="more">MORE+</a>
				<h4>永生瓶花</h4>
				<p>泰国进口保鲜花，经泰国花艺师精妙构思与巧手装扮，封入精美玻璃花瓶</p>
			</div>
			<div class="bd">
				<div class="bd-l">
					<a href="/livingflower/" target="_blank"><img src="__INDEX__STATIC__/picture/flowersong_banner_04.jpg" height="366" width="294"></a>
				</div>
				<div class="bd-r">
					<div class="flowersong-list owl-carousel">
						<div class="item">
							<a href="/product/1060060.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1060060.jpg" height="348" width="262">
								</span>
								<span class="product-title">泰国进口永生花/美好时光</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">689.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1060037.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1060037.jpg" height="348" width="262">
								</span>
								<span class="product-title">泰国进口永生花/一生所爱</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">218.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1060013.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1060013.jpg" height="348" width="262">
								</span>
								<span class="product-title">泰国进口永生花/一路上有你</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">338.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1060005.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1060005.jpg" height="348" width="262">
								</span>
								<span class="product-title">泰国进口永生花/玫瑰恋曲</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">468.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1060046.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1060046.jpg" height="348" width="262">
								</span>
								<span class="product-title">泰国进口永生花/玫瑰花园</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">786.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1060068.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1060068.jpg" height="348" width="262">
								</span>
								<span class="product-title">泰国进口永生花/清新若兰</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">388.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1060058.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1060058.jpg" height="348" width="262">
								</span>
								<span class="product-title">泰国进口永生花/清淳之美/大号</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">796.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1060026.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1060026.jpg" height="348" width="262">
								</span>
								<span class="product-title">泰国进口永生花/心心相恋</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">429.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1060022.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1060022.jpg" height="348" width="262">
								</span>
								<span class="product-title">泰国进口永生花/斜口瓶花</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">489.00</span>
								</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="flowersong-box">
			<div class="hd">
				<a href="/yongshenghua/yongshenghua_characteristic.html" target="_blank" class="more">MORE+</a>
				<h4>特色永生花</h4>
				<p>之所以特别，只为让你第一眼看到我</p>
			</div>
			<div class="bd">
				<div class="bd-l">
					<a href="/yongshenghua/yongshenghua_characteristic.html" target="_blank"><img src="__INDEX__STATIC__/picture/flowersong_banner_05.jpg" height="366" width="294"></a>
				</div>
				<div class="bd-r">
					<div class="flowersong-list owl-carousel">
						<div class="item">
							<a href="/product/1073108.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073108.jpg" height="348" width="262">
								</span>
								<span class="product-title">特色永生花/圣诞森情蜜语</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">259.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073032.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073032.jpg" height="348" width="262">
								</span>
								<span class="product-title">特色永生花/Merry熊</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">169.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073094.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073094.jpg" height="348" width="262">
								</span>
								<span class="product-title">特色永生花/To温暖你心</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">269.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073093.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073093.jpg" height="348" width="262">
								</span>
								<span class="product-title">特色永生花/倾尽所爱</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">269.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073092.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073092.jpg" height="348" width="262">
								</span>
								<span class="product-title">特色永生花/恋心</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">269.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073038.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073038.jpg" height="348" width="262">
								</span>
								<span class="product-title">特色永生花/想念的季节</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">188.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073039.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073039.jpg" height="348" width="262">
								</span>
								<span class="product-title">特色永生花/爱与祝福</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">188.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073033.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073033.jpg" height="348" width="262">
								</span>
								<span class="product-title">特色永生花/一生一世</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">189.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073034.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073034.jpg" height="348" width="262">
								</span>
								<span class="product-title">特色永生花/快乐熊</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">188.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1070053.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1070053.jpg" height="348" width="262">
								</span>
								<span class="product-title">芭蕾舞女孩永生花礼盒</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">389.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1070054.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1070054.jpg" height="348" width="262">
								</span>
								<span class="product-title">康乃馨永生花化妆镜套装</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">389.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1070052.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1070052.jpg" height="348" width="262">
								</span>
								<span class="product-title">浪漫永生花化妆镜礼盒</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">598.00</span>
								</p>
							</a>
						</div>
<!-- 						<div class="item">
							<a href="/product/1073097.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073097.jpg" height="348" width="262">
								</span>
								<span class="product-title">特色永生花/心心念念</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">138.00</span>
								</p>
							</a>
						</div>
						<div class="item">
							<a href="/product/1073096.html" target="_blank">
								<span class="img-box">
									<img src="__INDEX__STATIC__/picture/flowersong_1073096.jpg" height="348" width="262">
								</span>
								<span class="product-title">特色永生花/我怀念的</span>
								<p class="price">
									<span class="price-sign">&yen;</span>
									<span class="price-num">128.00</span>
								</p>
							</a>
						</div> -->
					</div>
				</div>
			</div>
		</div>
        
<!--永生花相关文章-->
<div class="bir-zhishi">
                <div class="panel panel-default knowledge">
                    <div class="panel-heading">
			          <h3 class="panel-title">永生花相关文章推荐</h3>
		            </div>
		         <div class="panel-body">
			       <ul>
				       <li><a href="/huayu/11589.html" target="_blank">什么是永生花？</a> </li>
				       <li><a href="/huayu/11590.html" target="_blank">永生花哪里有卖？</a> </li>
					   <li><a href="/huayu/11591.html" target="_blank">永生花是真花吗？</a></li>
					   <li><a href="/huayu/11593.html" target="_blank">永生花多少钱？</a></li>
				       <li><a href="/huayu/11598.html" target="_blank">永生花怎么保养？</a></li>
			       </ul>
			       <ul>
				       <li><a href="/profile/11914.html" target="_blank">永生花寓意是什么？永生花的意义是什么？</a></li>
				       <li><a href="/huayu/11910.html " target="_blank">永生花是什么花？如何制作永生花？永生花制作方法介绍</a></li>
	                   <li><a href="/huayu/11905.html" target="_blank">永生花价格是多少？永生花贵吗？</a> </li>
					   <li><a href="/huayu/12158.html" target="_blank">永生花花语，永生玫瑰花代表什么？</a> </li>
                       <li><a href="/huayu/11897.html" target="_blank">永生花盒是什么？永生花盒哪家最好？</a></li>
			       </ul>
			       <ul>
				       <li><a href="/huayu/11865.html" target="_blank">情人节送永生花代表什么？ </a></li>
				       <li><a href="/huayu/13091.html" target="_blank">进口永生玫瑰与国产永生玫瑰的区别</a></li>
				       <li><a href="/huayu/10594.html" target="_blank">送女朋友保鲜花，代表不凋谢的爱情</a> </li>
				       <li><a href="/huayu/10949.html" target="_blank">送女孩子什么礼物好？泰国保鲜花推荐</a></li>
				       <li><a href="/huayu/12942.html" target="_blank">结婚纪念送花：永生花·花永生·爱永恒</a></li>    
			       </ul>
		       </div>
	        </div>
		</div>
<!--永生花相关文章 End-->        

	</div>
	
		<!-- 尾部导航 -->
	<div class="footer-nav">
		<a href="/">首页</a> <b>|</b> <a href="/profile/about.htm" target="_blank">关于我们</a> <b>|</b> <a href="/profile/media.html" target="_blank">媒体报道</a> <b>|</b> <a href="/profile/contact.htm" target="_blank">联系方式</a> <b>|</b> <a href="/qiyetuangou/" target="_blank">企业团购</a> <b>|</b> <a href="/liansuo/" target="_blank">花店加盟</a> <b>|</b> <a href="/member/payment/balancefill" target="_blank">在线补款</a> <b>|</b> <a class="last-child" href="/profile/why_choose_us.htm" target="_blank">为什么选择中国鲜花礼品网</a>
	</div>
	<!-- 尾部导航 End -->
		<!-- 通用尾部 -->
	<footer>
		<div class="auth">
			<a href="http://kxlogo.knet.cn/seallogo.dll?sn=e15041744030058395oqbo000000&size=4" target="_blank"><img src="__INDEX__STATIC__/picture/kxwz.gif" height="40" width="109"></a>
			<a href="https://search.szfw.org/cert/l/CX20130306002238002312" target="_blank"><img src="__INDEX__STATIC__/picture/cxwz.gif" height="40" width="112"></a>
			<a href="http://www.anquan.org/authenticate/cert/?site=www.hua.com&at=realname" rel="nofollow" target="_blank"><img src="__INDEX__STATIC__/picture/smyz.gif" height="40" width="106"></a>
			<img src="__INDEX__STATIC__/picture/slogan.png" height="50" width="212">
			<a href="/member/payment/fillbyalipay?order_no=&order_sum=" rel="nofollow" target="_blank"><img src="__INDEX__STATIC__/picture/zfb.gif" height="49" width="96"></a>
			<a href="/profile/news_20111110.htm" target="_blank"><img src="__INDEX__STATIC__/picture/100.jpg" height="49" width="150"></a>
		</div>
		<p><a href="/profile/ChinaFlowerAssociation.htm" rel="nofollow" target="_blank" title="中国花卉协会会员">中国花卉协会会员</a> <a href="/profile/chinaECA.htm" rel="nofollow" target="_blank">中国电子商务协会会员</a> ICP经营许可证：<a href="/profile/ICP.htm" rel="nofollow" target="_blank">粤B2-20050744</a> <b>|</b> <a href="http://www.miibeian.gov.cn" rel="nofollow" target="_blank">粤ICP备09171662号</a> Copyright &copy; 2005-2016</p> 
		<p>中国鲜花礼品网-永生花专区 <a href="http://www.hua.com/">www.hua.com</a></p>  
	</footer>
	<!-- 通用尾部 End -->
<div class="mui-mbar-tabs">
		<div class="quick_link_mian">
			<div class="quick_links_panel">
				<div id="quick_links" class="quick_links">
					<li>
						<a href="#none" class="my_qlinks"><i class="ico_user"></i></a>
						<!-- ***** 未登录 ***** -->
						<div class="ibar_login_box">
							<div class="avatar_box" id="loginStats"></div>
							<div class="login_btnbox">
								<a href="/member/order/"><i class="ico_order"></i>我的订单</a>
							</div>
							<i class="icon_arrow_right_white"></i>
						</div>
					</li>
					<li id="shopCart">
						<a href="javascript:void(0)" class="message_list"><i class="ico_cart"></i><div class="span">购物车</div><span class="cart_num" id="cart_num">0</span></a>
					</li>
					<li>
						<a href="javascript:void(0)" class="history_list"><i class="ico_collect"></i></a>
						<div class="mp_tooltip">我的关注<i class="icon_arrow_right_white"></i></div>
					</li>
					<li>
						<a href="javascript:void(0)" class="mpbtn_histroy"><i class="ico_histroy"></i></a>
						<div class="mp_tooltip">最近查看<i class="icon_arrow_right_white"></i></div>
					</li>
					<li>
						<a href="javascript:void(0)" class="leave_message"><i class="ico_phone"></i></a>
						<div class="mp_tooltip">400-899-8188<i class="icon_arrow_right_white"></i></div>
					</li>
					<li>
						<a href="/chat/" class="mpbtn_recharge" target="_blank"><i class="ico_headset"></i></a>
						<div class="mp_tooltip">在线客服<i class="icon_arrow_right_white"></i></div>
					</li>
				</div>
				<div class="quick_toggle">
					<li>
						<a href="javascript:void(0)"><i class="ico_qrcode"></i></a>
						<div class="mp_qrcode">
							<p>
								<img src="__INDEX__STATIC__/picture/qr_wx.jpg" width="110" height="110">
								关注微信公众号
							</p>
							<p>
							<img src="__INDEX__STATIC__/picture/qr_app.jpg" width="110" height="110">
								下载花礼APP
							</p>
							<i class="icon_arrow_right_white"></i>
						</div>
					</li>
					<li>
						<a href="#top" class="return_top"><i class="ico_gotop"></i></a>
						<div class="mp_tooltip">返回顶部<i class="icon_arrow_right_white"></i></div>
					</li>
				</div>
			</div>
			<div id="quick_links_pop" class="quick_links_pop hide"></div>
		</div>
</div>
<script type="text/javascript"  src="__INDEX__STATIC__/js/common.js"></script>
<script type="text/javascript" src="__INDEX__STATIC__/js/statesandright.js"></script>
<script type="text/javascript"  src="__INDEX__STATIC__/js/owl.carousel.min.js"></script>
<script>
		$(function() {
			// 大图轮翻(5秒)
			$('#fullCarousel').carousel({ interval: 5000 });

			// 大图鼠标移到小圆点轮翻
			$("#fullCarousel ol li").hover(function () {
			    var index = $("#fullCarousel ol li").index(this);
			    $("#fullCarousel").carousel(index);
			});

		 	// tabs内容滑动
			$(".owl-carousel").owlCarousel({
				items : 3,
				responsive: false,
				mouseDrag: false,
				touchDrag : false,
				navigation: true,
				navigationText: false
			});
		});
</script>
</body>
</html>