<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>企业鲜花团购_企业团购鲜花礼品_公司鲜花采购服务-中国鲜花礼品网</title>
    <meta name="description" content="企业鲜花团购-中国鲜花礼品网专业提供企业团购鲜花礼品及公司鲜花采购服务，服务包括：企业客户维护，公司员工关怀，企业促销活动三大类！传递情感，鲜花具有其他任何礼品不可替代的作用，花费少，作用大!">
	<meta name="keywords" content="企业鲜花团购,企业团购鲜花礼品,公司鲜花采购服务">
	<meta name="mobile-agent" content="format=xhtml;url=http://m.hua.com/qiyetuangou/">
    <link type="text/css" rel="stylesheet" href="../css/common.css">
	<link type="text/css" rel="stylesheet" href="../css/public.css">
<style>
body{font-family: "微软雅黑",Arial,sans-serif;}
.common{ margin-bottom:0px;}#fullCarousel.carousel .carousel-inner .item{ height:352px;}#fullCarousel.carousel .carousel-inner {height: 352px;}.tgkh{ margin-top:77px; width:1200px;}.tgkh ul{ margin:0; padding:0;}.tgkh ul li{ width:348px; float:left; margin-right:77px;list-style: outside none none;}
.tgkh ul li.on{ width:348px; float:left; margin-right:0px;}#fullCarousel.carousel {min-width: 1200px;height:352px;margin-bottom:0px;}.tg_list{width:100%; margin-top:15px;}.tgkh ul li a:hover, a:focus{ text-decoration:none;outline:none;}.p1{ text-align:center; font-size:22px; color:#F60; line-height:30px; font-weight:bold;}
.p2{ font-size:18px; line-height:34px; text-align:center; color:#595656; border:1px solid #c2c2c2;}.p3{ font-size:16px; padding:18px 0; color:#808080; text-align:left;}.p4{ font-size:12px; color:#808080; line-height:24px; text-align:left;}.p7{ font-size:13px; color:#f60; line-height:26px; text-align:left;}
.kh-1{ width:100%; font-size:28px; line-height:90px; color:#f60; font-weight:bold; margin-top:30px; text-align:center; float:left;}.tgys{ background-color:#f6f6f6;}.ys-list{ margin-top:20px; margin-bottom:85px; width:1200px; float:left}.ys-list ul{ margin:0; padding:0;}.ys-list ul li{ width:257px; float:left; margin-right:57px;list-style: outside none none;}
.ys-list ul li.on{ width:257px; float:left; margin-right:0px;list-style: outside none none;}.p5{ font-size:18px; font-weight:bold; line-height:30px; color:#f60; text-align:center; padding-top:10px;}.p6{ font-size:12px; color:#808080; line-height:20px; text-align:center; margin:0 auto;}
#gg{width: 100%;height:96px;bottom: 0px;position: fixed;z-index: 9999; background:#f60;}
#gg p{ color:#fff; font-size:14px; float:left; margin-left:10px; margin-top:10px;}
#gg a{ color:#fff;}#gg a:hover{ color:#fff; text-decoration:none;}
.section-nav {position: absolute;top: 80%;right:20px;width:152px;margin:-126px 0px 0px;list-style: none;z-index:9999; border:1px solid #f60;}
.section-nav li {width:150px;}
.section-nav li a {font-weight: normal; padding: 0;}
.section-nav .nav-li a {font-size: 12px;line-height: 30px;display: block;width:150px;height:40px;padding-top:5px; padding-left:13px;text-align:left;color: #767676;background-color: #eeeeee;}
.section-nav .nav-li a:hover {text-decoration: none;}
.section-nav .nav-li.active a,
.section-nav .nav-li.active a:hover {text-decoration: none;color: #fff;background-color: #ff5998;}
.section-nav .nav-li a:focus {font-size: 12px;line-height: 30px;display: block;width:132px;height:40px;padding-top:5px; padding-left:20px;text-align:left;color: #333;background-color: #eeeeee;}
.section-nav .nav-li1 a {font-size: 12px;line-height: 30px;display: block;width:150px;height:40px;padding-top:5px; padding-left:13px;text-align:left;color: #767676;background-color: #e5e5e5;}
.section-nav .nav-li1 a:hover {text-decoration: none;}
.section-nav .nav-li1.active a,
.section-nav .nav-li1.active a:hover {text-decoration: none;}
.section-nav .nav-li2 a {font-size: 12px;line-height: 30px;display: block;width:150px;height:40px;padding-top:5px; padding-left:13px;text-align:left;color: #767676;background-color:#eeeeee;}
.section-nav .nav-li2 a:hover {text-decoration: none;}
.section-nav .nav-li2.active a,
.section-nav .nav-li2.active a:hover {text-decoration: none;}
.affix {position: fixed;}
.common1 {background-color: #fff;border-bottom: 2px solid #f60;margin-bottom: 0;}
.common1 .nav {margin: 0;}
.common1 .nav li a {color: #595656; margin-right:10px;}
.common1 .nav li a:hover { color: #ff6600;background-color: transparent;}
.common1 .nav li.active a,
.common1 .nav li.active a:hover {color: #fff;width: 130px; margin-right:24px; text-align: center; background:#f60;}
</style>
<!--[if lt IE 9]>
        <script src="__INDEX__STATIC__/js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body class="tutorial" data-spy="scroll" data-target=".affix-box">
		<!-- 顶部导航 -->
	<div class="site-nav">
		<div class="container">
			<ul class="site-nav-l">
				<li class="menu">
					<a href="http://www.hua.com/" onClick="addfavorite();return false;"><span class="ico ico-star"></span>收藏鲜花网</a>
				</li>
				<li class="menu dropdown">
					<a href="javascript:void(0)" data-hover="dropdown" data-delay="0"><span class="ico ico-weixin"></span>关注微信</a>
					<div class="dropdown-menu dropdown-weixin">
						<img src="__INDEX__STATIC__/picture/wechat_qrcode.jpg" height="124" width="124">
		                <p>扫码关注<br>回复"礼物" 更多惊喜！</p>
		            </div>
				</li>
				<li class="menu dropdown">
					<a href="/mobile/" data-hover="dropdown" data-delay="0" target="_blank"><span class="ico ico-mobile"></span>手机花礼</a>
					<div class="dropdown-menu dropdown-weixin">
						<img src="__INDEX__STATIC__/picture/app_qrcode.jpg" height="124" width="124">
		                <p>APP首单减20元！<br>(需下单时输入券号9920)</p>
		            </div>
				</li>
			</ul>
			<ul class="site-nav-r">
				<li class="menu login" id="LoginInfo"></li>
				<li class="site-nav-pipe">|</li>
				<li class="menu">
					<a href="/help/ordercx/" rel="nofollow" target="_blank">订单查询</a>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/help/" data-hover="dropdown" data-delay="0">客户服务<span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-service">
		                <a href="/member/payment/balancefill">在线付款</a>

		                <a href="/help/">帮助中心</a>
		                <a href="/help/afterservice.htm">售后服务</a>
		                <a href="/help/sendRange.htm">配送范围</a>
		                <a href="/chat/">留言反馈</a>
		            </div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/shopping/showcart" data-hover="dropdown" data-delay="0" rel="nofollow"><span class="ico ico-cart"></span>购物车<span class="text-primary" id="gwcCount"></span><span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-cart" id="CartInfo"></div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu slogan">
					企业鲜花团购
				</li>
			</ul>
		</div>
	</div>
	<!-- 顶部导航 End -->
		<!-- 头部 -->
	<header>
		<div class="logo">
			<h1><a href="http://www.hua.com/" class="logo-bd">企业鲜花团购</a></h1>
			<i></i>
			<h2>中国鲜花礼品网 开始2005，简称花礼网</h2>
		</div>
		<div class="search"><form name="i_search" method="post" action="/search/">
			<div class="input-group">
				<input name="keyword" type="text" class="form-control" placeholder="商品关键词">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" onClick="this.form.submit()">搜索</button>
				</span>
			</div></form>
			<span class="help-block" style="text-align:left;"><a href="/hongmeigui/">红玫瑰</a> | <a href="/yongshenghua/">永生花</a> | <a href="/theme/shengriliwu.asp">企业团购</a> | <a href="/gifts/goldenflower/">金玫瑰</a></span>
		</div>
		<div class="service">
			<span class="ico ico-phone"></span>400-889-8188
			<a href="/chat/" target="_blank"><span class="ico ico-headset"></span>在线客服</a>
		</div>
	</header>
	<!-- 头部 End -->
	
	<!-- 导航 -->
	<nav class="common1">
		<div class="container">
			<ul class="nav">
				<li class="active"><a href="/qiyetuangou/">企业团购</a></li>
				<li><a href="/qiyetuangou/gift_card.html">礼品卡</a></li>
				<li><a href="/qiyetuangou/other.html">其他合作</a></li>
				<li><a href="/">网站首页</a></li>
			</ul>
		</div>
	</nav>
	<!-- 导航 End -->
<div class="affix-box">
			<ul class="nav section-nav affix-top" data-spy="affix" data-offset-top="0" data-offset-bottom="0">
				<li class="nav-li"><img src="__INDEX__STATIC__/picture/group_58.jpg"></li>
				<li class="nav-li"><a><span class="bir_nav bir_nav_2"></span>联系人：胡小姐</a></li>
				<li class="nav-li1"><a><span class="bir_nav bir_nav_3"></span>电话：0755-26668820</a></li>
				<li class="nav-li2"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=2355363606&amp;site=qq&amp;menu=yes">QQ：2355363606</a></li>
			</ul>
</div>
	<div class="birthday-wrap">
	<!-- 大图轮翻 -->
	<div id="fullCarousel" class="carousel slide carousel-fade">
        <ol class="carousel-indicators">
            <li data-target="#fullCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#fullCarousel" data-slide-to="1"></li>
            <li data-target="#fullCarousel" data-slide-to="2"></li>
            <li data-target="#fullCarousel" data-slide-to="4"></li>
            <li data-target="#fullCarousel" data-slide-to="5"></li>           
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('../images/pingan_banner.jpg');"><a href="pingan.html" target="_blank"></a></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/huatai-banner.jpg');"><a href="huatai.html" target="_blank"></a></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/minsheng_banner.jpg');"><a href="minsheng.html" target="_blank"></a></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/bem-banner.jpg');"><a href="beingmate.html" target="_blank"></a></div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('../images/zhaopin_banner.jpg');"><a href="zhaopin.html" target="_blank"></a></div>
            </div>

        </div>
    </div>
	<!-- 大图轮翻 End -->

<!--服务客户-->
<div class="container">
	<div class="tgkh">
    	<ul>
        	<li>
            	<img src="__INDEX__STATIC__/picture/group_05.jpg" height="257" width="348">
               <div class="tg_list"><p class="p1">01 客户维护</p><p class="p2">客户情感的关注与满足是企业成功的秘决</p> <a href="huatai.html" target="_blank"><p class="p3"><span style=" margin-right:60px;">典型案例</span><img src="__INDEX__STATIC__/picture/group_15.jpg" height="34" width="100"></p><p class="p4">需求：华泰人寿给每年交费X万元以上，连续交费x年的客户，在客户生日时，女士送一束价值160元的鲜花。给男士则送一款价格为200元左右的元祖品牌蛋糕。<br style="margin-bottom:7px;">
实施方案：
每月25日前，华泰将下月将要配送的名单发给花礼网，花礼网核实地址等信息后，双方确认金额。花礼网开发票给华泰，华泰收到发票后，当月5日前将款项付到指定帐号。花礼网按要求
将鲜花和蛋糕在客户指日的日期送货上门。
</p></a><a href="case.html#a" target="_blank"><p class="p7">更多案例>></p></a></div>
            </li>
            <li><img src="__INDEX__STATIC__/picture/group_07.jpg" height="257" width="348">
<div class="tg_list"><p class="p1">02 员工关怀</p><p class="p2">员工是企业最宝贵的财富和资源</p><a href="minsheng.html" target="_blank"><p class="p3"><span style=" margin-right:65px;">典型案例</span><img src="__INDEX__STATIC__/picture/group_18.jpg" height="34" width="100"></p><p class="p4">需求：常年给全国各地支行特定员工送出生日祝福鲜花蛋糕及配送贺卡，无论员工身处何地，祝福订单须在生日当天送达。<br style="margin-bottom:7px;">
实施方案：
1.与民生银行核对，在系统录入1年内配送名单及性别年龄，职务等相关信息。<br>
2.根据录入信息为每个员工搭配好合理的鲜花套餐后提报民生银行确定。<br>
3.执行配送之前确认订单信息有无变动及是否有其他特殊需求。<br>
4.配送完毕后进行信息及时反馈。
</p></a><a href="case.html#b" target="_blank"><p class="p7">更多案例>></p></a></div>
            </li>
            <li class="on"><img src="__INDEX__STATIC__/picture/group_09.jpg" height="257" width="348">
 <div class="tg_list"><p class="p1">03 促销活动</p><p class="p2">激发消费者购买欲望，促进沟通的法宝</p><a href="beingmate.html" target="_blank"><p class="p3"><span style=" margin-right:80px;">典型案例</span><img src="__INDEX__STATIC__/picture/group_21.jpg" height="34" width="81"></p><p class="p4">需求：在2014母亲节当天，贴心问候分布在全国的长期使用贝因美奶粉的优质客户，每束花附送贝因美自制精美贺卡。<br style="margin-bottom:7px;">
实施方案：
1.根据客户群体特征一致性，精选相对应的鲜花礼品方案。<br>
2.根据贝因美提供的客户配送资料，提前将贝因美特制精美贺卡配送至全国对应城市加盟店。<br>
3.母亲节当天，贝因美贺卡与精选鲜花同时配送至客户所在地。
</p></a><a href="case.html#c" target="_blank"><p class="p7">更多案例>></p></a></div>
            </li>
        </ul>
    </div>
<div class="kh-1">我们服务的团购客户</div><div style="margin-bottom:70px;"><img src="__INDEX__STATIC__/picture/group_27.jpg" height="265" width="1200"></div>
</div>
<!--服务客户 End-->

<!--我们的优势-->
<div class="tgys">
	<div class="container">
  	  <div class="kh-1">我们的优势</div>
   	  <div class="ys-list">
    	<ul>
        	<li><img src="__INDEX__STATIC__/picture/group_31.png" height="257" width="257"><div class="tg_list"><p class="p5">覆盖地域广</p><p class="p6">覆盖全国900多个城市，超2000家实体门面
为您提供异地服务</p></div></li>
            <li><img src="__INDEX__STATIC__/picture/group_33.png" height="257" width="257"><div class="tg_list"><p class="p5">3小时送货上门</p><p class="p6">订单保鲜产品提供3小时送货上门服务</p></div></li>
            <li><img src="__INDEX__STATIC__/picture/group_35.png" height="257" width="257"><div class="tg_list"><p class="p5">一站式采购</p><p class="p6">花礼网提供多品类一站式采购方案</p></div></li>
            <li class="on"><img src="__INDEX__STATIC__/picture/group_37.png" height="257" width="257"><div class="tg_list"><p class="p5">强大的售后保障</p><p class="p6">强大的服务后台和管理体系为您的权益提供保障</p></div></li>
        </ul>
  	  </div>
    </div>
</div>
<!--我们的优势 End-->
<!--联系方式-->
		<!-- 尾部导航 -->
	<div class="footer-nav">
		<a href="/">首页</a> <b>|</b> <a href="/profile/about.htm">关于我们</a> <b>|</b> <a href="/profile/media.html">媒体报道</a> <b>|</b> <a href="/profile/contact.htm">联系方式</a> <b>|</b> <a href="/liansuo/">花店加盟</a> <b>|</b> <a href="/profile/links.htm">友情链接</a> <b>|</b> <a href="/member/payment/balancefill">在线补款</a> <b>|</b> <a class="last-child" href="/profile/why_choose_us.htm">为什么选择中国鲜花礼品网</a>
	</div>
	<!-- 尾部导航 End -->
		<!-- 通用尾部 -->
	<footer>
		<div class="auth">
			<a href="http://kxlogo.knet.cn/seallogo.dll?sn=e15041744030058395oqbo000000&size=4" target="_blank"><img src="__INDEX__STATIC__/picture/kxwz.gif" height="40" width="109"></a>
			<a href="https://search.szfw.org/cert/l/CX20130306002238002312" target="_blank"><img src="__INDEX__STATIC__/picture/cxwz.gif" height="40" width="112"></a>
			<a href="http://www.anquan.org/authenticate/cert/?site=www.hua.com&at=realname" rel="nofollow" target="_blank"><img src="__INDEX__STATIC__/picture/smyz.gif" height="40" width="106"></a>
			<a href="/member/payment/fillbyalipay?order_no=&order_sum=" rel="nofollow" target="_blank"><img src="__INDEX__STATIC__/picture/zfb.gif" height="49" width="96"></a>
			<a href="/profile/news_20111110.htm" target="_blank"><img src="__INDEX__STATIC__/picture/100.jpg" height="49" width="150"></a>
		</div>
		<p><a href="/profile/ChinaFlowerAssociation.htm" rel="nofollow" target="_blank" title="中国花卉协会会员">中国花卉协会会员</a> <a href="/profile/chinaECA.htm" rel="nofollow" target="_blank">中国电子商务协会会员</a> ICP经营许可证：<a href="/profile/ICP.htm" rel="nofollow" target="_blank">粤B2-20050744</a> <b>|</b> <a href="http://www.miibeian.gov.cn" rel="nofollow" target="_blank">粤ICP备09171662号</a> Copyright &copy; 2005-2016</p> 
		<p>中国鲜花礼品网-企业团购 <a href="http://www.hua.com/">www.hua.com</a></p>  
	</footer>
	<!-- 通用尾部 End -->
	</div>
<script type="text/javascript"  src="__INDEX__STATIC__/js/common.js"></script>
<script type="text/javascript" src="__INDEX__STATIC__/js/statesandright.js"></script> 
<script>
	  $(function() {
	  var sjs=Math.random();
	  //$.get("/ajax/getlogininfo.asp?rmd="+sjs,null,function(data){if(data.indexOf("<") > -1){$("#LoginInfo").html(data);}});//登陆信息
	  //$.get("/ajax/CartCount.asp?rmd="+sjs,null,function(data){if(data.indexOf("(") > -1){$("#gwcCount").html(data);}});//购物车商品数量
	  //$.get("/ajax/getcartinfo.asp?rmd="+sjs,null,function(data){if(data.indexOf("<") > -1){$("#CartInfo").html(data);}});//购物车信息
	  });
</script>

<script>
		// 大图轮翻(5秒)
		$('#fullCarousel').carousel({ interval: 5000 });

		// 大图鼠标移到小圆点轮翻
		$("#fullCarousel ol li").hover(function () {
		    var index = $("#fullCarousel ol li").index(this);
		    $("#fullCarousel").carousel(index);
		 });
</script>		
</body>
</html>