<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="description" content="鲜花网,中国鲜花礼品网,国内领先鲜花速递服务商为您提供专业的网上订花和鲜花速递服务,您可以通过本页快速认识中国鲜花礼品网,了解鲜花网的成长历程,运作,服务理念等。">
	<meta name="keywords" content="鲜花网 中国鲜花网 中国鲜花礼品网 鲜花速递">
	<title>鲜花网|中国鲜花网-联系我们-中国鲜花礼品网介绍</title>

<link type="text/css" rel="stylesheet" href="../../css/common.css">
<link type="text/css" rel="stylesheet" href="../../css/public.css">
<link type="text/css" rel="stylesheet" href="../../css/pagination.css">
<!--[if lt IE 9]>
        <script src="../../js/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
		<!-- 顶部导航 -->
	<div class="site-nav">
		<div class="container">
			<ul class="site-nav-l">
				<li class="menu">
					<a href="http://www.hua.com/" onClick="addfavorite();return false;"><span class="ico ico-star"></span>收藏鲜花网</a>
				</li>
				<li class="menu dropdown">
					<a href="javascript:void(0)" data-hover="dropdown" data-delay="0"><span class="ico ico-weixin"></span>关注微信</a>
					<div class="dropdown-menu dropdown-weixin">
						<img src="../../picture/wechat_qrcode.jpg" height="124" width="124">
		                <p>扫码关注<br>回复"礼物" 更多惊喜！</p>
		            </div>
				</li>
				<li class="menu dropdown">
					<a href="/mobile/" data-hover="dropdown" data-delay="0" target="_blank"><span class="ico ico-mobile"></span>手机花礼</a>
					<div class="dropdown-menu dropdown-weixin">
						<img src="../../picture/app_qrcode.jpg" height="124" width="124">
		                <p>APP首单减20元！<br>(需下单时输入券号9920)</p>
		            </div>
				</li>
			</ul>
			<ul class="site-nav-r">
				<li class="menu login" id="LoginInfo"></li>
				<li class="site-nav-pipe">|</li>
				<li class="menu">
					<a href="/help/ordercx/" rel="nofollow" target="_blank">订单查询</a>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/help/" data-hover="dropdown" data-delay="0" target="_blank">客户服务<span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-service">
		                <a href="/member/payment/balancefill" target="_blank">在线付款</a>
		                <a href="/help/" target="_blank">帮助中心</a>
		                <a href="/help/afterservice.htm" target="_blank">售后服务</a>
		                <a href="/help/sendRange.htm" target="_blank">配送范围</a>
		                <a href="/chat/" target="_blank">留言反馈</a>
		            </div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/shopping/showcart" data-hover="dropdown" data-delay="0" rel="nofollow" target="_blank"><span class="ico ico-cart"></span>购物车<span class="text-primary" id="gwcCount"></span><span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-cart" id="CartInfo"></div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu slogan">
					鲜花,鲜花网,鲜花速递全国
				</li>
			</ul>
		</div>
	</div>
	<!-- 顶部导航 End -->
		<!-- 头部 -->
	<header>
		<div class="logo">
			<h1><a href="http://www.hua.com/" class="logo-bd">鲜花速递</a></h1>
			<i></i>
			<h2>中国鲜花礼品网 始于2005，简称花礼网</h2>
		</div>
		<div class="search"><form name="i_search" method="post" action="/search/">
			<div class="input-group">
				<input name="keyword" type="text" class="form-control" placeholder="商品关键词">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" onclick="this.form.submit()">搜索</button>
				</span>
			</div></form>
			<span class="help-block"><a href="/songlaoshixianhua/">送老师鲜花</a> | <a href="/florist/">自选鲜花</a> | <a href="/shengriliwu/">生日鲜花</a> | <a href="/worldflora/">港澳台送花</a></span>
		</div>
		<div class="service">
			<span class="ico ico-phone"></span>400-889-8188
			<a href="/chat/" target="_blank"><span class="ico ico-headset"></span>在线客服</a>
		</div>
	</header>
	<!-- 头部 End -->
	
	<!-- 导航 -->
	<nav class="common">
		<div class="container">
			<div class="categorys dropdown">
				<h3 class="categorys-title" data-hover="dropdown" data-delay="0">
					<a href="/all.html"><span class="pull-right glyphicon glyphicon-menu-down"></span>全部商品导购</a>
				</h3>
				<div class="dropdown-menu dropdown-cate">
		        	<h4><a href="/flower/">鲜花</a></h4>
		        	<ul class="cate-list list-inline">
		        		<li><a target="_blank" href="/aiqingxianhua/">爱情鲜花</a></li>
		        		<li><a target="_blank" href="/youqingxianhua/">友情鲜花</a></li>
		        		<li><a target="_blank" href="/shengriliwu/">生日鲜花</a></li>
						<li><a target="_blank" href="/songzhangbeixianhua/">问候长辈</a></li>
						<li><a target="_blank" href="/zhufuqinghexianhua/">祝贺鲜花</a></li>
						<li><a target="_blank" href="/hunqingxianhua/">婚庆鲜花</a></li>
		        		<li><a target="_blank" href="/tanbingweiwenxianhua/">探病慰问</a></li>
						<li><a target="_blank" href="/daoqianxianhua/">道歉鲜花</a></li>
		        		<li><a target="_blank" href="/businessFlower/kaiyehualan/">开业花篮</a></li>
		        	</ul>
		        	<h4><a target="_blank" href="/yongshenghua/">永生花</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a target="_blank" href="/yongshenghua/yongshenghua_box.html">经典花盒</a></li>
	        			<li><a target="_blank" href="/yongshenghua/yongshenghua_large.html">巨型玫瑰</a></li>
	        			<li><a target="_blank" href="/yongshenghua/yongshenghua_lavender.html">薰衣草</a></li>
	        			<li><a target="_blank" href="/yongshenghua/yongshenghua_vase.html">永生瓶花</a></li>
	        			<li><a target="_blank" href="/yongshenghua/yongshenghua_characteristic.html">特色永生花</a></li>
		        	</ul>
					
					<h4><a target="_blank" href="/cake/">蛋糕</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a target="_blank" href="/cake/ganso/">元祖</a></li>
	        			<li><a target="_blank" href="/cake/holiland/">好利来</a></li>
	        			<li><a target="_blank" href="/cake/croissants/">可颂坊</a></li>
						<li><a target="_blank" href="/cake/waffleboy/">窝夫小子</a></li>
	        			<li><a target="_blank" href="/cake/micamika/">米卡米卡</a></li>
	        			<li><a target="_blank" href="/cake/yipinxuan/">一品轩</a></li>
	        			<li><a target="_blank" href="/cake/xfxb/">幸福西饼</a></li>
	        			<li><a target="_blank" href="/cake/mcake/">Mcake</a></li>
	        			<li><a target="_blank" href="/cake/lecake/">诺心</a></li>
	        			<li><a target="_blank" href="/cake/vcake/">Vcake</a></li>
						<li><a target="_blank" href="/cake/allcitycake/">全国品牌</a></li>
		        	</ul>
					<h4><a target="_blank" href="/gifts/">礼品</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a target="_blank" href="/livingflower/">泰国保鲜花</a></li>
	        			<li><a target="_blank" href="/gifts/musicbox/">音乐盒</a></li>
						<li><a target="_blank" href="/gifts/crystallaser/">水晶内雕</a></li>
	        			<li><a target="_blank" href="/gifts/goldenflower/">金箔花</a></li>
	        			<li><a target="_blank" href="/gifts/cosmeticmirror/">化妆镜</a></li>
	        			<li><a target="_blank" href="/gifts/kingking/">香薰系列</a></li>
						<li><a target="_blank" href="/gifts/bestlife/">音乐睡枕</a></li>
	        			<li><a target="_blank" href="/gifts/vase/">花瓶/相框</a></li>
	        			<li><a target="_blank" href="/gifts/grose/">镀金玫瑰</a></li>
	        			<li><a target="_blank" href="/gifts/candle/">LED蜡烛</a></li>
						<li><a target="_blank" href="/katonghuashu/">卡通花束</a></li>	
						<li><a target="_blank" href="/toys/">品牌公仔</a></li>
						<li><a target="_blank" href="/gifts/hifi/">智能音响</a></li>	
						<li><a target="_blank" href="/gifts/shoushi/">首饰</a></li>	
						<li><a target="_blank" href="/gifts/chocolate/">手工巧克力</a></li>	
						<li><a target="_blank" href="/gifts/jinkouqiaokeli/">进口巧克力</a></li>	
						<li><a target="_blank" href="/gifts/dengshi/">创意礼品</a></li>	
						<li><a target="_blank" href="/qiyetuangou/gift_card.html">礼品卡</a></li>	
		        	</ul>
					<h4><a target="_blank" href="/Plant/">绿植</a></h4>
		        	<ul class="cate-list list-inline">
	        			<li><a target="_blank" href="/Plant/greenplant/">绿色植物</a></li>
			       		<li><a target="_blank" href="/Plant/potflower/">盆栽花卉</a></li>
		        	</ul>		     
		        </div>
			</div>        
			<ul class="nav">
			    <li><a href="/">首页</a></li>
				<li><a href="/flower/">鲜花</a></li>
				<li><a href="/yongshenghua/">永生花</a></li>
				<li><a href="/cake/">蛋糕</a></li>
				<li><a href="/gifts/">礼品</a></li>
				<li><a href="/huayu/">花语大全</a></li>
			</ul>
		</div>
	</nav>
	<!-- 导航 End -->

	<!-- 内容 -->
	<div class="container">
		<div class="breadcrumbs"><a href="http://www.hua.com/">首页</a> &gt; <a href="contact.htm">联系我们</a></div>
		<div class="wrapper about">
			<div class="pull-left w970 l230">
				<div class="box-border">
					<div class="article">
						<h3>
							<img src="../../picture/about_bg_04.jpg" height="50" width="310">
							<b>CONTACT US</b>
							联系我们
					  </h3>
					<div class="contact_bg">
                    	<p><font class="text-primary ft_16">全国客服热线</font></p><p><font class="text-primary ft_16">400-889-8188</font></p>
                    	<p>免长途费，人工客服时间：8:30-21:00</p>
                   	  <p>深圳总部客服：0755-88855678、0755-26668001</p>
                    	<p>深圳总部传真：0755-26660005</p>
                    	<br><br>
                    	<p><font class="text-primary ft_16">团购/集团采购专线</font>                        </p>
                    	<p>电话：0755-26668820&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联系人：胡小姐&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;QQ：2355363606 </p>
                        <br><br>
                      <p><font class="text-primary ft_16">渠道合作</font>                        </p>
                        <p>联系人：刘先生&nbsp;&nbsp;电话：0755-26661662&nbsp;&nbsp;&nbsp;QQ:2355676702<font color="red"> (广告投放请勿联系)</font><br>
						Email:<img src="../../picture/hezuomail.gif"></p>
                      	<br><br>
                        <p><font class="text-primary ft_16">花店加盟</font>                        </p>
                        <p>点击查看&ldquo;<a href="/liansuo/" target="_blank">花店加盟</a>&rdquo;页，按需联系。</p>
                        <br><br>
                        <p><font class="text-primary ft_16">客服部</font></p>
                        <p>客服电话：400-889-8188&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;客服邮箱：<img src="../../picture/email-kf_03.png" alt="客服邮箱"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="../chat/" target="_blank"><span class="ico ico-headset"></span>在线客服</a><br>
                          短信：10690999520（仅供短信息交流使用）<br>
                        客服工作时间：8:30 至 21:00</p>
                        <br><br>
                      <p><font class="text-primary ft_16">网址</font></p>
                        <p>深圳市百易信息技术有限公司<br>原域名：www.FlowerCN.com (2005-2012相伴7载，卓越服务不变)</p>
                        <p><img src="../../picture/about_bg_05.jpg" alt="送花就上hua.com"><br>新主域名：www.hua.com 花的拼音，化繁为简，好记易输入</p>
                        <p>总部地址：深圳市南山区桃园路171号深圳发展银行南山大厦11C</p>                        
					</div>
					</div>
				</div>
			</div>
			<div class="pull-left w210 r970">
				<div class="box-border">
					<div class="hd"><b></b><a href="about.htm">关于我们</a></div>
					<ul class="bd">
						<li><a href="news.htm"><span class="ico ico-about1"></span>公司动态</a></li>
						<li><a href="media.html"><span class="ico ico-about2"></span>媒体报道</a></li>
						<li><a href="culture.htm"><span class="ico ico-about3"></span>企业文化</a></li>
						<li><a href="/productpj/"><span class="ico ico-about4"></span>客户体验</a></li>
						<li><a href="gdsj.html"><span class="ico ico-about5"></span>感动瞬间</a></li>
						<li><a href="/XianHuaShiPai/"><span class="ico ico-about6"></span>订单实拍秀</a></li>
						<li><a href="why_choose_us.htm"><span class="ico ico-about7"></span>为什么选择我们</a></li>
						<li><a href="contact.htm"><span class="ico ico-about8"></span>联系我们</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
		<!-- 尾部导航 -->
	<div class="footer-nav">
		<a href="/">首页</a> <b>|</b> <a href="/profile/about.htm" target="_blank">关于我们</a> <b>|</b> <a href="/profile/media.html" target="_blank">媒体报道</a> <b>|</b> <a href="/profile/contact.htm" target="_blank">联系方式</a> <b>|</b> <a href="/qiyetuangou/" target="_blank">企业团购</a> <b>|</b> <a href="/liansuo/" target="_blank">花店加盟</a> <b>|</b> <a href="/member/payment/balancefill" target="_blank">在线补款</a> <b>|</b> <a class="last-child" href="/profile/why_choose_us.htm" target="_blank">为什么选择中国鲜花礼品网</a>
	</div>
	<!-- 尾部导航 End -->
		<!-- 通用尾部 -->
	<footer>
		<div class="auth">
			<a href="http://kxlogo.knet.cn/seallogo.dll?sn=e15041744030058395oqbo000000&size=4" target="_blank"><img src="../../picture/kxwz.gif" height="40" width="109"></a>
			<a href="https://search.szfw.org/cert/l/CX20130306002238002312" target="_blank"><img src="../../picture/cxwz.gif" height="40" width="112"></a>
			<a href="http://www.anquan.org/authenticate/cert/?site=www.hua.com&at=realname" rel="nofollow" target="_blank"><img src="../../picture/smyz.gif" height="40" width="106"></a>
			<img src="../../picture/slogan.png" height="50" width="212">
			<a href="/member/payment/fillbyalipay?order_no=&order_sum=" rel="nofollow" target="_blank"><img src="../../picture/zfb.gif" height="49" width="96"></a>
			<a href="/profile/news_20111110.htm" target="_blank"><img src="../../picture/100.jpg" height="49" width="150"></a>
		</div>
		<p><a href="/profile/ChinaFlowerAssociation.htm" rel="nofollow" target="_blank" title="中国花卉协会会员">中国花卉协会会员</a> <a href="/profile/chinaECA.htm" rel="nofollow" target="_blank">中国电子商务协会会员</a> ICP经营许可证：<a href="/profile/ICP.htm" rel="nofollow" target="_blank">粤B2-20050744</a> <b>|</b> <a href="http://www.miibeian.gov.cn" rel="nofollow" target="_blank">粤ICP备09171662号</a> Copyright &copy; 2005-2016</p> 
		<p>花礼网 （中国鲜花礼品网） <a href="http://www.hua.com/">www.hua.com</a> 中国领先鲜花网品牌,专业鲜花速递服务！</p>  
	</footer>
	<!-- 通用尾部 End -->
	
<script type="text/javascript"  src="../../js/common.js"></script>
<script>
$(function() {
var sjs=Math.random();
//$.get("/ajax/getlogininfo.asp?rmd="+sjs,null,function(data){if(data.indexOf("<") > -1){$("#LoginInfo").html(data);}});//登陆信息
//$.get("/ajax/CartCount.asp?rmd="+sjs,null,function(data){if(data.indexOf("(") > -1){$("#gwcCount").html(data);}});//购物车商品数量
//$.get("/ajax/getcartinfo.asp?rmd="+sjs,null,function(data){if(data.indexOf("<") > -1){$("#CartInfo").html(data);}});//购物车信息
});
</script>
<script type="text/javascript" src="../../js/statesandright.js"></script></body>
</html>