<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/pintuer.css">
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/admin.css">
    <script src="__ADMIN__STATIC__ /js/jquery.js"></script>
    <script src="__ADMIN__STATIC__ /js/pintuer.js"></script>
</head>

<body>

    <div class="panel admin-panel margin-top">
        <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加商品</strong></div>
        <div class="body-content">
            <!-- <form method="post" class="form-x" action="">  -->
            <form action="{:url('admin/goodsadd/Addgoods')}" class="form-x" enctype="multipart/form-data" method="post">
               <!--  <input type="hidden" name="id" value="" /> -->
                <div class="form-group">
                    <div class="label">
                        <label>栏目名称：</label>
                    </div>

                    <div class="field">
                        <select name="fid" class="input w50">
                            <option value="0">请选择分类</option>
                            <option value="1">鲜花</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>首页展示图：</label>
                    </div>
                    <div class="field">

                      <!--   <input type="text" name="picturepath" id="url1" class="input tips" style="width:25%; float:left;" value="" data-toggle="hover" data-place="right" data-image="" /> -->
                         <input type="file" class="button bg-blue margin-left" name="HomeImg" id="image1" value=""  style="float:left;">
                        <div class="tipss">图片尺寸：1920*200</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>商品名：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w100" name="goodsname" value="" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>花礼价：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w100" name="hualijia" value="" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>说明：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w100" name="shuoming" value="" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>材料：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w100" name="cailiao" value="" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>包装：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w100" name="baozhuang" value="" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>花语：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w100" name="huayu" value="" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>附送：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w100" name="fusong" value="" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>配送：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w100" name="peisong" value="" />
                        <div class="tips"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>小贴士：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w100" name="tishi" value="" />
                        <div class="tips"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="label">
                        <label>价格：</label>
                    </div>
                    <div class="field">
                        <input type="text" class="input w100" name="price" value="" />
                        <div class="tips"></div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="label">
                        <label></label>
                    </div>
                    商品详细情况图片上传
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>详情图1：</label>
                    </div>
                    <div class="field">
                         <input type="file" class="button bg-blue margin-left" id="image1" name="image[]" value=""  style="float:left;">
                        <div class="tipss">图片尺寸：1920*200</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>详情图2：</label>
                    </div>
                    <div class="field">
                         <input type="file" class="button bg-blue margin-left" id="image1" name="image[]" value=""  style="float:left;">
                        <div class="tipss">图片尺寸：1920*200</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>详情图3：</label>
                    </div>
                    <div class="field">
                         <input type="file" class="button bg-blue margin-left" name="image[]" id="image1" value=""  style="float:left;">
                        <div class="tipss">图片尺寸：1920*200</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>详情图4：</label>
                    </div>
                    <div class="field">
                         <input type="file" class="button bg-blue margin-left" name="image[]" id="image1" value=""  style="float:left;">
                        <div class="tipss">图片尺寸：1920*200</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>详情图5：</label>
                    </div>
                    <div class="field">
                         <input type="file" class="button bg-blue margin-left" name="image[]" id="image1" value=""  style="float:left;">
                        <div class="tipss">图片尺寸：1920*200</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>详情图6：</label>
                    </div>
                    <div class="field">
                         <input type="file" class="button bg-blue margin-left" name="image[]" id="image1" value=""  style="float:left;">
                        <div class="tipss">图片尺寸：1920*200</div>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="label">
                        <label></label>
                    </div>
                    商品出售页面轮播图上传
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>展示图1：</label>
                    </div>
                    <div class="field">
                         <input type="file" class="button bg-blue margin-left" name="HomesImg[]" id="image1" value=""  style="float:left;">
                        <div class="tipss">图片尺寸：1920*200</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>展示图2：</label>
                    </div>
                    <div class="field">
                         <input type="file" class="button bg-blue margin-left" name="HomesImg[]" id="image1" value=""  style="float:left;">
                        <div class="tipss">图片尺寸：1920*200</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>展示图3：</label>
                    </div>
                    <div class="field">
                         <input type="file" class="button bg-blue margin-left" name="HomesImg[]" id="image1" value=""  style="float:left;">
                        <div class="tipss">图片尺寸：1920*200</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label>展示图4：</label>
                    </div>
                    <div class="field">
                         <input type="file" class="button bg-blue margin-left" name="HomesImg[]" id="image1" value=""  style="float:left;">
                        <div class="tipss">图片尺寸：1920*200</div>
                    </div>
                </div>
              
                <div class="form-group">
                    <div class="label">
                        <label></label>
                    </div>
                    <div class="field">
                        <button class="button bg-main icon-check-square-o" type="submit"> 提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>