<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/pintuer.css">
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/admin.css">
    <script src="__ADMIN__STATIC__ /js/jquery.js"></script>
    <script src="__ADMIN__STATIC__ /js/pintuer.js"></script>
</head>

<body>
    <form method="post" action="" id="listform">
        <div class="panel admin-panel">
            <div class="panel-head"><strong class="icon-reorder">订单列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>

            <table class="table table-hover text-center">
                <tr>
                    <th width="100" style="text-align:left; padding-left:20px;">订单ID</th>
                    <th>订单编号</th>
                    <th>删除时间</th>
                    <th width="12%">商品id/名</th>
                    <th>单价/数量/金额</th>
                    <th>删除状态</th>
                    <!-- <th width="10%">更新时间</th> -->
                    <th width="310">状态</th>
                </tr>
                <!-- 遍历订单信息 -->
                {volist name="orderMsg" id="data"}
                <tr>
                    <td style="color:red;text-align:left; padding-left:20px;">
                        {$data->id}
                    </td>
                    <td style="color:red;">{$data->num_order}</td>
                    
                    <!-- 收货地址 -->
                    <td style="color:red;">
                            {$data->delete_time}
                    </td>
                    <td></td>
                    <td></td>
                    <!-- 关联USER -->
                    <td style="color:red;">
                        {switch name="$data->status"}
                            {case value="0"}<div style="color:green;">买家取消</div>{/case}
                            {case value="1"}<div style="color:red;">卖家取消</div>{/case}
                            {case value="2"}<div style="color:blue;">交易成功</div>{/case}
                        {/switch}
                    </td>

                    <!-- 订单恢复/彻底删除 -->
                        <td style="color:green;">
                            <a class="button border-main" href="{:url('admin/orderRecycle/orderRecove',['id'=>$data['id']])}">
                                <span class="icon-edit"></span> 恢复
                            </a>
                            <a class="button border-red" href="{:url('admin/orderRecycle/orderTrueDel',['id'=>$data['id']])}">
                                <span class="icon-trash-o"></span> 删除
                            </a>

                        </td>
                </tr>

                <!-- 遍历 订单对应的购物车 -->
                {foreach $data->cart as $k => $goodsMes}
                    <tr>
                        <td style="color:#333;">【商品{$k+1}】</td>
                        <td></td>
                        <td></td>
                        <td>
                        <!-- 购物车关联Goods表 -->
                            <div>【{$goodsMes->goods->id}】</div>
                            <div>【{$goodsMes->goods->title}】</div>  
                        </td> 
                        <td>
                            {$goodsMes->goods->now_price} / 
                            {$goodsMes->num_goods} /
                            {$goodsMes->num_goods*$goodsMes->goods->now_price}
                        </td>
                        
                    </tr>
                {/foreach}
               
                <tr>
                    <td colspan="8">{$data->paginate()->render()}</td>
                </tr>
                {/volist}
            </table>
        </div>
    </form>
    
</body>

</html>