<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>圣诞节鲜花_2016圣诞节鲜花预订_圣诞节送花订花_圣诞节送什么礼物好?-来中国鲜花礼品网</title>
<meta name="description" content="圣诞节鲜花专题:圣诞节送什么花好?2016年圣诞节鲜花预订,来中国鲜花礼品网,挑选你最喜欢的节日鲜花礼品，在12月24-25日送给你的心上人,让ta度过一个最难忘的圣诞节！专业提供圣诞节送花订花服务,全国送花服务,3-12小时送达北京上海广州深圳成都等全国上千个城市">
<meta name="keywords" content="圣诞节鲜花,2016圣诞节鲜花预订,圣诞节送花订花,圣诞节礼物">
<script type="text/javascript" src="../../js/76eaeb6187fd4f578035147d447a9cbc.js"></script>
<meta name="mobile-agent" content="format=xhtml;url=http://m.hua.com/theme/xmas/">
<link type="text/css" rel="stylesheet" href="../../css/common.css">
<link type="text/css" rel="stylesheet" href="../../css/public.css">
<link type="text/css" rel="stylesheet" href="../../css/day0314.css">
<style>
	body{min-width: 1200px;}
	.tan-wrap{padding-top: 0;}
	.flower .nav li:nth-child(2) a{background: #FE7A24;}
	.flower .nav li:last-child a{background: #ff6a00;}
	.tan-banner{background: url(../../images/16pc_01.jpg) 50% 0 no-repeat;height: 385px;}
	.tan-banner2{background: url(../../images/16pc_03.jpg) 50% 0 no-repeat;height: 401px;}
	.tan-banner3{background: url(../../images/16pc_08.jpg) 50% 0 no-repeat;height: 321px;}
	.tan-banner4{background: url(../../images/16pc_13.jpg) 50% 0 no-repeat;height: 338px;}
	.tan-banner5{background: url(../../images/16pc_18.jpg) 50% 0 no-repeat;height: 340px;}
	.tan-banner6{background: url(../../images/16pc_24.jpg) 50% 0 no-repeat;height: 467px;}
	.tan-wrap.floor1{background: url(../../images/16pc_bg_05.jpg) 50% 0 no-repeat;height: 1425px;}
	.tan-wrap.floor2{background: url(../../images/16pc_bg_07.jpg) 50% 0 no-repeat;height: 1291px;}
	.tan-wrap.floor3{background: url(../../images/16pc_bg_09.jpg) 50% 0 no-repeat;height: 1292px;}
	.tan-wrap.floor4{background: url(../../images/16pc_bg_11.jpg) 50% 0 no-repeat;height: 1292px;}
	.tan-wrap{background: #35827b;}
	.tan-wrap .container{background: #fff;}
	.tan-wrap .list-box{margin: 0 20px 15px;}
	.tan-wrap .list-box .list-bd li{width: 366px;padding: 0;margin: 0 10px 20px;height: 450px;border-bottom: 3px solid #c5b1b0;text-align: center;}
	.tan-wrap .list-box .list-bd li.floor_num{border: none;text-align: left;}
	.tan-wrap .list-box .list-bd li:hover{border-bottom: 3px solid #dc474d;}
	.tan-wrap .list-box .list-bd li.floor_num:hover{border: none;}
	.tan-wrap .list-box .list-bd li .img-box{height: auto;border: none;}
	.tan-wrap .list-box .list-bd li .img-box img{width: 350px;height: auto;}
	.tanabata-wrap a:hover{color: #dc474d;text-decoration: none;}
	.price-sign,.price-num{font-size: 22px;color: #dc474d;}
	.price del{color: #606060;}
	.tan-wrap .list-box .list-bd.list_small li{width: 270px;height: 383px;}
	.tan-wrap .list-box .list-bd.list_small li .img-box{margin-top: 20px;}
	.tan-wrap .list-box .list-bd.list_small li .img-box img{width: 270px;}
	.panel{margin-bottom: 0;}
	.knowledge a{color: #737373;}
	.knowledge a:hover{color: #737373;text-decoration: underline;}
</style>
<!--[if lt IE 9]>
    <script src="../../js/html5shiv.min.js"></script>
<![endif]-->
</head>
<body class="flower">
	<!-- 顶部导航 -->
	<!-- <div style="background:url(../../images/sbanner_520.jpg) 50% 0 no-repeat;height:80px;"></div> -->
	<div class="site-nav">
		<div class="container">
			<ul class="site-nav-l">
				<li class="menu">
					<a href="http://www.hua.com/" onClick="addfavorite();return false;"><span class="ico ico-star"></span>收藏鲜花网</a>
				</li>
				<li class="menu dropdown">
					<a href="javascript:void(0)" data-hover="dropdown" data-delay="0"><span class="ico ico-weixin"></span>关注微信</a>
					<div class="dropdown-menu dropdown-weixin">
						<img src="../../picture/wechat_qrcode.jpg" height="124" width="124">
		                <p>扫码关注<br>回复"礼物" 更多惊喜！</p>
		            </div>
				</li>
				<li class="menu dropdown">
					<a href="/mobile/" data-hover="dropdown" data-delay="0" target="_blank"><span class="ico ico-mobile"></span>手机花礼</a>
					<div class="dropdown-menu dropdown-weixin">
						<img src="../../picture/app_qrcode.jpg" height="124" width="124">
		                <p>APP首单减20元！<br>(需下单时输入券号9920)</p>
		            </div>
				</li>
			</ul>
			<ul class="site-nav-r">
				<li class="menu login" id="LoginInfo"></li>
				<li class="site-nav-pipe">|</li>
				<li class="menu">
					<a href="/help/ordercx/" rel="nofollow" target="_blank">订单查询</a>				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/help/" data-hover="dropdown" data-delay="0" target="_blank">客户服务<span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-service">
		                <a href="/member/payment/balancefill" target="_blank">在线付款</a>
		                <a href="/help/" target="_blank">帮助中心</a>
		                <a href="/help/afterservice.htm" target="_blank">售后服务</a>
		                <a href="/help/sendRange.htm" target="_blank">配送范围</a>
		                <a href="/chat/" target="_blank">留言反馈</a>		            </div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu dropdown">
					<a href="/shopping/showcart" data-hover="dropdown" data-delay="0" rel="nofollow" target="_blank"><span class="ico ico-cart"></span>购物车<span class="text-primary" id="gwcCount"></span><span class="glyphicon glyphicon-triangle-bottom"></span></a>
					<div class="dropdown-menu dropdown-cart" id="CartInfo"></div>
				</li>
				<li class="site-nav-pipe">|</li>
				<li class="menu slogan">
					圣诞节鲜花礼物
				</li>
			</ul>
		</div>
	</div>
	<!-- 顶部导航 End -->
	<!-- 头部 -->
	<header>
		<div class="logo">
			<h1><a href="/" class="logo-bd">圣诞节鲜花,圣诞节礼物</a></h1>
			<i></i>
			<h2>中国鲜花礼品网 始于2005，简称花礼网</h2>
		</div>
		<div class="search"><form name="i_search" method="post" action="/search/">
			<div class="input-group">
				<input name="keyword" type="text" class="form-control" placeholder="商品关键词">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button" onClick="this.form.submit()">搜索</button>
				</span>			</div>
		</form>
			<span class="help-block"><a href="/huayu/17593.html" target="_blank">圣诞节送什么礼物</a> | <a href="/yongshenghua/" target="_blank">永生花</a> | <a href="/shengriliwu/" target="_blank">生日鲜花</a> | <a href="/gifts/goldenflower/" target="_blank">金玫瑰</a></span>
		</div>
		<div class="service">
			<span class="ico ico-phone"></span>400-889-8188
			<a href="/chat/" target="_blank"><span class="ico ico-headset"></span>在线客服</a>
		</div>
	</header>
	<!-- 头部 End -->
	
	<!-- 导航 -->
	<nav class="common">
	    <div class="container">
	        <div class="categorys dropdown">
	            <h3 class="categorys-title" data-hover="dropdown" data-delay="0">
	                <a href="/all.html"><span class="pull-right glyphicon glyphicon-menu-down"></span>全部商品导购</a>
	            </h3>
	            <div class="dropdown-menu dropdown-cate">
	                <h4><a href="/flower/">鲜花</a></h4>
	                <ul class="cate-list list-inline">
	                    <li><a target="_blank" href="/aiqingxianhua/">爱情鲜花</a></li>
	                    <li><a target="_blank" href="/youqingxianhua/">友情鲜花</a></li>
	                    <li><a target="_blank" href="/shengriliwu/" target="_blank">生日鲜花</a></li>
	                    <li><a target="_blank" href="/songzhangbeixianhua/">问候长辈</a></li>
	                    <li><a target="_blank" href="/zhufuqinghexianhua/">祝贺鲜花</a></li>
	                    <li><a target="_blank" href="/hunqingxianhua/">婚庆鲜花</a></li>
	                    <li><a target="_blank" href="/tanbingweiwenxianhua/">探病慰问</a></li>
	                    <li><a target="_blank" href="/daoqianxianhua/">道歉鲜花</a></li>
	                    <li><a target="_blank" href="/businessFlower/kaiyehualan/">开业花篮</a></li>
	                </ul>
	                <h4><a href="/yongshenghua/">永生花</a></h4>
	                <ul class="cate-list list-inline">
	                    <li><a target="_blank" href="/yongshenghua/yongshenghua_box.html">经典花盒</a></li>
	                    <li><a target="_blank" href="/yongshenghua/yongshenghua_large.html">巨型玫瑰</a></li>
	                    <li><a target="_blank" href="/yongshenghua/yongshenghua_lavender.html">薰衣草</a></li>
	                    <li><a target="_blank" href="/yongshenghua/yongshenghua_vase.html">永生瓶花</a></li>
	                    <li><a target="_blank" href="/yongshenghua/yongshenghua_characteristic.html">特色永生花</a></li>
	                </ul>

	                <h4><a href="/cake/">蛋糕</a></h4>
	                <ul class="cate-list list-inline">
	                    <li><a target="_blank" href="/cake/ganso/">元祖</a></li>
	                    <li><a target="_blank" href="/cake/holiland/">好利来</a></li>
	                    <li><a target="_blank" href="/cake/xfxb/">幸福西饼</a></li>
	                    <li><a target="_blank" href="/cake/lecake/">诺心</a></li>
	                    <li><a target="_blank" href="/cake/waffleboy/">窝夫小子</a></li>
	                    <li><a target="_blank" href="/cake/mcake/">Mcake</a></li>
	                    <li><a target="_blank" href="/cake/croissants/">可颂坊</a></li>
	                    <li><a target="_blank" href="/cake/micamika/">米卡米卡</a></li>
	                    <li><a target="_blank" href="/cake/vcake/">Vcake</a></li>
	                    <li><a target="_blank" href="/cake/yipinxuan/">一品轩</a></li>
	                    <li><a target="_blank" href="/cake/kaladuo/">卡拉多</a></li>
	                    <li><a target="_blank" href="/cake/oneonecake/">Oneonecake</a></li>
	                    <li><a target="_blank" href="/cake/mzmk/">美滋每客</a></li>
	                    <li><a target="_blank" href="/cake/allcitycake/">全国品牌</a></li>
	                </ul>
	                <h4><a href="/gifts/">礼品</a></h4>
	                <ul class="cate-list list-inline">
	                    <li><a target="_blank" href="/livingflower/">泰国保鲜花</a></li>
	                    <li><a target="_blank" href="/gifts/musicbox/">音乐盒</a></li>
	                    <li><a target="_blank" href="/gifts/crystallaser/">水晶内雕</a></li>
	                    <li><a target="_blank" href="/gifts/goldenflower/">金箔花</a></li>
	                    <li><a target="_blank" href="/gifts/cosmeticmirror/">化妆镜</a></li>
	                    <li><a target="_blank" href="/gifts/kingking/">香薰系列</a></li>
	                    <li><a target="_blank" href="/gifts/bestlife/">音乐睡枕</a></li>
	                    <li><a target="_blank" href="/gifts/vase/">花瓶/相框</a></li>
	                    <li><a target="_blank" href="/gifts/grose/">镀金玫瑰</a></li>
	                    <li><a target="_blank" href="/gifts/candle/">LED蜡烛</a></li>
	                    <li><a target="_blank" href="/katonghuashu/">卡通花束</a></li>
	                    <li><a target="_blank" href="/toys/">品牌公仔</a></li>
	                    <li><a target="_blank" href="/gifts/hifi/">智能音响</a></li>
	                    <li><a target="_blank" href="/gifts/shoushi/">首饰</a></li>
	                    <li><a target="_blank" href="/gifts/chocolate/">手工巧克力</a></li>
	                    <li><a target="_blank" href="/gifts/jinkouqiaokeli/">进口巧克力</a></li>
	                    <li><a target="_blank" href="/gifts/dengshi/">创意礼品</a></li>
	                    <li><a target="_blank" href="/qiyetuangou/gift_card.html">礼品卡</a></li>
	                </ul>
	                <h4><a href="/Plant/">绿植</a></h4>
	                <ul class="cate-list list-inline">
	                    <li><a target="_blank" href="/Plant/greenplant/">绿色植物</a></li>
	                    <li><a target="_blank" href="/Plant/potflower/">盆栽花卉</a></li>
	                </ul>
	            </div>
	        </div>
	        <ul class="nav">
	            <li><a href="/">首页</a></li>
	            <li><a href="/flower/">鲜花</a></li>
	            <li><a href="/yongshenghua/">永生花</a></li>
	            <li><a href="/cake/">蛋糕</a></li>
	            <li><a href="/gifts/">礼品</a></li>
	            <li><a href="/huayu/">花语大全</a></li>
	            <li><a href="/theme/xmas/">圣诞节鲜花</a></li>
	        </ul>
	    </div>
	</nav>
	<!-- 导航 End -->

	<div class="tanabata-wrap">	
		<div class="tan-banner">
			<div class="container">
				<a href="/product/9012125.html?type=xmas" target="_blank">
					<div style="width:400px;height:440px;float:left;margin-left:-150px;"></div>
				</a>
				<a href="/product/1073099.html" target="_blank">
					<div style="width:280px;height:300px;float:right;margin-right:-100px;"></div>
				</a>
			</div>
		</div>
		<div class="tan-banner2">
			<div class="container">
				<a href="/product/1204013.html" target="_blank">
					<div style="width:300px;height:300px;float:right;margin-right:-50px;"></div>
				</a>
			</div>
		</div>
		<div class="tan-wrap floor1">
			<div class="container">
				<div class="list-box">
					<ul class="list-bd">
						<li class="floor_num">
							<img src="../../picture/16pc_05.jpg" alt="">
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9010011.html?type=xmas" target="_blank"><img src="../../picture/9010011.jpg"></a>
							</div>
							<div class="title"><a href="/product/9010011.html?type=xmas" target="_blank">一心一意--玫瑰11枝，粉色勿忘我0.3扎</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9010011">128</span>&nbsp;
								<del>原价:179.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9012150.html?type=xmas" target="_blank"><img src="../../picture/9012150.jpg"></a>
							</div>
							<div class="title"><a href="/product/9012150.html?type=xmas" target="_blank">幸福久久--戴安娜粉玫瑰99枝，栀子叶适量</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9012150">519</span>&nbsp;
								<del>原价:727.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1073108.html" target="_blank"><img src="../../picture/1073108.jpg"></a>
							</div>
							<div class="title"><a href="/product/1073108.html" target="_blank">圣诞森情蜜语--圣诞苔藓小熊1个，厄瓜多尔红玫瑰1枝</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1073108">259</span>&nbsp;
								<del>原价:518.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1073044.html" target="_blank"><img src="../../picture/1073044.jpg"></a>
							</div>
							<div class="title"><a href="/product/1073044.html" target="_blank">十二星座经典七彩·摩羯座--厄瓜多尔进口巨型永生玫瑰</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1073044">288</span>&nbsp;
								<del>原价:398.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9010966.html?type=xmas" target="_blank"><img src="../../picture/9010966.jpg"></a>
							</div>
							<div class="title"><a href="/product/9010966.html?type=xmas" target="_blank">一往情深--精品玫瑰礼盒:19枝红玫瑰，勿忘我适量</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9010966">239</span>&nbsp;
								<del>原价:335.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1064048.html" target="_blank"><img src="../../picture/1064048.jpg"></a>
							</div>
							<div class="title"><a href="/product/1064048.html" target="_blank">童话木马音乐盒--RHYMES/雷曼士18音机芯</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1064048">258</span>&nbsp;
								<del>原价:298.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1071004.html" target="_blank"><img src="../../picture/1071004.jpg"></a>
							</div>
							<div class="title"><a href="/product/1071004.html" target="_blank">苹果型3D水晶内雕“一路上有你”--工艺品，七彩发光</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1071004">108</span>&nbsp;
								<del>原价:146.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1204013.html" target="_blank"><img src="../../picture/1204013.jpg"></a>
							</div>
							<div class="title"><a href="/product/1204013.html" target="_blank">laderach圣诞节手工巧克力礼盒--瑞士原装进口</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1204013">278</span>&nbsp;
								<del>原价:398.00</del>
							</div>
						</li>
					</ul>
				</div>
            </div>
		</div>
		<div class="tan-banner3"></div>
		<div class="tan-wrap floor2">
			<div class="container">
				<div class="list-box">
					<ul class="list-bd">
						<li class="floor_num">
							<img src="../../picture/16pc_10.jpg" alt="">
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9012125.html?type=xmas" target="_blank"><img src="../../picture/9012125.jpg"></a>
							</div>
							<div class="title"><a href="/product/9012125.html?type=xmas" target="_blank">缪斯女神--红玫瑰16枝，红豆5枝，粉色桔梗，银叶菊</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9012125">179</span>&nbsp;
								<del>原价:251.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9012011.html?type=xmas" target="_blank"><img src="../../picture/9012011.jpg"></a>
							</div>
							<div class="title"><a href="/product/9012011.html?type=xmas" target="_blank">阳光海岸--19枝香槟玫瑰，白色石竹梅围绕</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9012011">219</span>&nbsp;
								<del>原价:307.00</del>
							</div>
						</li>
					</ul>
					<ul class="list-bd list_small">
						<li>
							<div class="img-box">
								<a href="/product/9012144.html?type=xmas" target="_blank"><img src="../../picture/9012144.jpg"></a>
							</div>
							<div class="title"><a href="/product/9012144.html?type=xmas" target="_blank">粉恋--戴安娜粉玫瑰9枝，勿忘我栀子叶适量</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9012144">116</span>&nbsp;
								<del>原价:162.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9012126.html?type=xmas" target="_blank"><img src="../../picture/9012126.jpg"></a>
							</div>
							<div class="title"><a href="/product/9012126.html?type=xmas" target="_blank">情有独钟--戴安娜粉玫瑰50枝，石竹梅</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9012126">338</span>&nbsp;
								<del>原价:473.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9012088.html?type=xmas" target="_blank"><img src="../../picture/9012088.jpg"></a>
							</div>
							<div class="title"><a href="/product/9012088.html?type=xmas" target="_blank">白雪公主--白玫瑰50枝，搭配勿忘我、绿叶</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9012088">359</span>&nbsp;
								<del>原价:503.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9012089.html?type=xmas" target="_blank"><img src="../../picture/9012089.jpg"></a>
							</div>
							<div class="title"><a href="/product/9012089.html?type=xmas" target="_blank">爱在心头--戴安娜粉玫瑰19枝，红玫瑰31枝</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9012089">338</span>&nbsp;
								<del>原价:473.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9010969.html?type=xmas" target="_blank"><img src="../../picture/9010969.jpg"></a>
							</div>
							<div class="title"><a href="/product/9010969.html?type=xmas" target="_blank">你最珍贵--香槟玫瑰19枝，勿忘我适量</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9010969">248</span>&nbsp;
								<del>原价:347.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9012143.html?type=xmas" target="_blank"><img src="../../picture/9012143.jpg"></a>
							</div>
							<div class="title"><a href="/product/9012143.html?type=xmas" target="_blank">倾城月色--雪山白玫瑰11枝，勿忘我栀子叶</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9012143">138</span>&nbsp;
								<del>原价:193.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9012112.html?type=xmas" target="_blank"><img src="../../picture/9012112.jpg"></a>
							</div>
							<div class="title"><a href="/product/9012112.html?type=xmas" target="_blank">给你我的温柔--戴安娜粉玫瑰11枝，石竹梅</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9012112">180</span>&nbsp;
								<del>原价:252.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/9010668.html?type=xmas" target="_blank"><img src="../../picture/9010668.jpg"></a>
							</div>
							<div class="title"><a href="/product/9010668.html?type=xmas" target="_blank">LOVE 99--99枝精品红玫瑰，满天星围绕</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="9010668">499</span>&nbsp;
								<del>原价:699.00</del>
							</div>
						</li>
					</ul>
				</div>
            </div>
		</div>
		<div class="tan-banner4"></div>
		<div class="tan-wrap floor3">
			<div class="container">
				<div class="list-box">
					<ul class="list-bd">
						<li class="floor_num">
							<img src="../../picture/16pc_15.jpg" alt="">
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1073003.html" target="_blank"><img src="../../picture/1073003.jpg"></a>
							</div>
							<div class="title"><a href="/product/1073003.html" target="_blank">触摸--薰衣草礼盒：进口薰衣草永生花</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1073003">158</span>&nbsp;
								<del>原价:288.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1073017.html" target="_blank"><img src="../../picture/1073017.jpg"></a>
							</div>
							<div class="title"><a href="/product/1073017.html" target="_blank">一生的承诺--厄瓜多尔玫瑰进口整枝大号永生玫瑰</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1073017">286</span>&nbsp;
								<del>原价:489.00</del>
							</div>
						</li>
					</ul>
					<ul class="list-bd list_small">
						<li>
							<div class="img-box">
								<a href="/product/1073032.html" target="_blank"><img src="../../picture/1073032.jpg"></a>
							</div>
							<div class="title"><a href="/product/1073032.html" target="_blank">Merry熊--苔藓小熊1只，红色奥斯丁玫瑰</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1073032">169</span>&nbsp;
								<del>原价:338.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1073092.html" target="_blank"><img src="../../picture/1073092.jpg"></a>
							</div>
							<div class="title"><a href="/product/1073092.html" target="_blank">恋心--蓝色永生玫瑰＋紫色永生玫瑰</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1073092">269</span>&nbsp;
								<del>原价:448.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1073083.html" target="_blank"><img src="../../picture/1073083.jpg"></a>
							</div>
							<div class="title"><a href="/product/1073083.html" target="_blank">十二星座经典红·摩羯座--厄瓜多尔永生玫瑰</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1073083">238</span>&nbsp;
								<del>原价:328.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1073010.html" target="_blank"><img src="../../picture/1073010.jpg"></a>
							</div>
							<div class="title"><a href="/product/1073010.html" target="_blank">海之恋--厄瓜多尔进口蓝色永生玫瑰</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1073010">438</span>&nbsp;
								<del>原价:598.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1060002.html" target="_blank"><img src="../../picture/1060002.jpg"></a>
							</div>
							<div class="title"><a href="/product/1060002.html" target="_blank">我爱你--泰国保鲜玫瑰花</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1060002">208</span>&nbsp;
								<del>原价:318.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1060013.html" target="_blank"><img src="../../picture/1060013.jpg"></a>
							</div>
							<div class="title"><a href="/product/1060013.html" target="_blank">一路上有你--泰国保鲜玫瑰花</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1060013">338</span>&nbsp;
								<del>原价:549.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1073100.html" target="_blank"><img src="../../picture/1073100.jpg"></a>
							</div>
							<div class="title"><a href="/product/1073100.html" target="_blank">彩虹下的约定--厄瓜多尔永生玫瑰+银项链</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1073100">368</span>&nbsp;
								<del>原价:427.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1070053.html" target="_blank"><img src="../../picture/1070053.jpg"></a>
							</div>
							<div class="title"><a href="/product/1070053.html" target="_blank">芭蕾舞女孩永生花礼盒--化妆镜+永生玫瑰</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1070053">389</span>&nbsp;
								<del>原价:599.00</del>
							</div>
						</li>
					</ul>
				</div>
            </div>
		</div>
		<div class="tan-banner5"></div>
		<div class="tan-wrap floor4">
			<div class="container">
				<div class="list-box">
					<ul class="list-bd">
						<li class="floor_num">
							<img src="../../picture/16pc_20.jpg" alt="">
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1010014.html" target="_blank"><img src="../../picture/1010014.jpg"></a>
							</div>
							<div class="title"><a href="/product/1010014.html" target="_blank">棕色围巾熊(45cm)--品牌公仔 Happy Design</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1010014">79</span>&nbsp;
								<del>原价:128.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1065004.html" target="_blank"><img src="../../picture/1065004.jpg"></a>
							</div>
							<div class="title"><a href="/product/1065004.html" target="_blank">宝石旋转木马/蓝--音乐盒畅销款</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1065004">158</span>&nbsp;
								<del>原价:262.00</del>
							</div>
						</li>
					</ul>
					<ul class="list-bd list_small">
						<li>
							<div class="img-box">
								<a href="/product/1061006.html" target="_blank"><img src="../../picture/1061006.jpg"></a>
							</div>
							<div class="title"><a href="/product/1061006.html" target="_blank">999纯金箔玫瑰+陶瓷花瓶--千足金箔玫瑰</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1061006">138</span>&nbsp;
								<del>原价:256.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1064005.html" target="_blank"><img src="../../picture/1064005.jpg"></a>
							</div>
							<div class="title"><a href="/product/1064005.html" target="_blank">十八音水晶钢琴--音乐盒 韵升精品机芯</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1064005">228</span>&nbsp;
								<del>原价:468.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1071001.html" target="_blank"><img src="../../picture/1071001.jpg"></a>
							</div>
							<div class="title"><a href="/product/1071001.html" target="_blank">3D水晶内雕玫瑰花--激光工艺品，旋转发光</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1071001">106</span>&nbsp;
								<del>原价:146.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1076003.html" target="_blank"><img src="../../picture/1076003.jpg"></a>
							</div>
							<div class="title"><a href="/product/1076003.html" target="_blank">花的嫁纱S925银项链--施华洛世奇元素水晶</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1076003">139</span>&nbsp;
								<del>原价:169.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1070017.html" target="_blank"><img src="../../picture/1070017.jpg"></a>
							</div>
							<div class="title"><a href="/product/1070017.html" target="_blank">天使之恋--高档精品化妆镜</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1070017">138</span>&nbsp;
								<del>原价:238.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1201003.html" target="_blank"><img src="../../picture/1201003.jpg"></a>
							</div>
							<div class="title"><a href="/product/1201003.html" target="_blank">CHORO/巧罗奢悦之美巧克力礼盒</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1201003">158</span>&nbsp;
								<del>原价:168.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1062007.html" target="_blank"><img src="../../picture/1062007.jpg"></a>
							</div>
							<div class="title"><a href="/product/1062007.html" target="_blank">牛角包按摩枕/咖啡--CVC剪毛绒，耐磨抗皱</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1062007">98</span>&nbsp;
								<del>原价:168.00</del>
							</div>
						</li>
						<li>
							<div class="img-box">
								<a href="/product/1200199.html" target="_blank"><img src="../../picture/1200199.jpg"></a>
							</div>
							<div class="title"><a href="/product/1200199.html" target="_blank">KT经典公仔(65cm)--正版Hello Kitty公仔</a></div>
							<div class="price">
								<span class="price-sign">&yen;</span>
								<span class="price-num" id="1200199">759</span>&nbsp;
								<del>原价:759.00</del>
							</div>
						</li>
					</ul>
				</div>
            </div>
		</div>
		<div class="tan-banner6">
			<div class="container" style="padding-top:60px;">
			<div class="panel panel-default knowledge">
					<div class="panel-heading">
						<h3 class="panel-title">圣诞节鲜花&amp;送花礼仪</h3>
					</div>
					<div class="panel-body">
						<ul>
							<li><a href="/huayu/17605.html" target="_blank">圣诞节订花上哪订比较好？</a> </li>
							<li><a href="/huayu/17593.html" target="_blank">圣诞节送什么礼物比较好？</a> </li> 
							<li><a href="/huayu/17591.html" target="_blank">圣诞节怎样示爱求婚，成功率最高！！</a> </li> 
							<li><a href="/huayu/17590.html" target="_blank">花礼网圣诞节新品花束，99朵精品玫瑰推荐！</a> </li>
							<li><a href="/huayu/17585.html" target="_blank">圣诞节送礼|如何和女生度过一个浪漫的圣诞节？</a> </li>
						</ul>
						<ul>
							<li><a href="/huayu/13837.html" target="_blank">圣诞节花卉礼物大揭秘，绝佳的植物礼品！</a> </li>
							<li><a href="/profile/13827.html" target="_blank">圣诞来临之际，我又老套的给你送花了</a></li>
							<li><a href="/huayu/13818.html" target="_blank">用多肉制作一场圣诞节日的盛宴</a></li>
							<li><a href="/huayu/13808.html" target="_blank">圣诞节如何挑选百合花？</a> </li> 
							<li><a href="/huayu/13807.html" target="_blank">圣诞树上为什么要挂满礼物，圣诞树的由来？</a> </li> 
						</ul>
						<ul>
							<li><a href="/huayu/13525.html" target="_blank">圣诞节的由来和习俗，一起来学习吧</a></li>
							<li><a href="/huayu/13602.html" target="_blank">圣诞节攻略，你的圣诞礼品专属！</a> </li>
							<li><a href="/huayu/13579.html" target="_blank">圣诞节为什么是红色和绿色的？</a> </li>
							<li><a href="/huayu/13569.html" target="_blank">圣诞节送女友什么花好？</a> </li>
							<li><a href="/huayu/13539.html" target="_blank">圣诞节送苹果的由来，中国为什么平安夜也送苹果?</a> </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
    <!-- 尾部导航 -->
    <div class="footer-nav">
        <a href="/">首页</a> <b>|</b> <a href="/profile/about.htm" target="_blank">关于我们</a> <b>|</b> <a href="/profile/media.html" target="_blank">媒体报道</a> <b>|</b> <a href="/profile/contact.htm" target="_blank">联系方式</a> <b>|</b> <a href="/qiyetuangou/" target="_blank">企业团购</a> <b>|</b> <a href="/liansuo/" target="_blank">花店加盟</a> <b>|</b> <a href="/profile/links.htm" target="_blank">友情链接</a> <b>|</b> <a href="/member/payment/balancefill" target="_blank">在线补款</a> <b>|</b> <a class="last-child" href="/profile/why_choose_us.htm" target="_blank">为什么选择中国鲜花礼品网</a>
    </div>
    <!-- 尾部导航 End -->
    <!-- 通用尾部 -->
    <footer>
        <div class="auth">
            <span style="margin-right:8px;">
                <script src="../../js/seallogo.js"></script>
            </span>
            <a href="https://search.szfw.org/cert/l/CX20130306002238002312" target="_blank"><img src="../../picture/cxwz.gif" height="40" width="112"></a>
            <a href="http://www.anquan.org/authenticate/cert/?site=www.hua.com&at=realname" rel="nofollow" target="_blank"><img src="../../picture/smyz.gif" height="40" width="106"></a>
<img src="../../picture/slogan.png" height="50" width="212" />            <a href="/member/payment/fillbyalipay?order_no=&total_fee=" rel="nofollow" target="_blank"><img src="../../picture/zfb.gif" height="49" width="96"></a>
            <a href="/profile/news_20111110.htm" target="_blank"><img src="../../picture/100.jpg" height="49" width="150"></a>
            <a href="/profile/ICP.htm" rel="nofollow" target="_blank"><img src="../../picture/bico1.jpg" alt="ICP" height="46" width="35"></a>
            <a href="http://szcert.ebs.org.cn/fab6de6a-ff80-4e63-89e4-cd531170c256" rel="nofollow" target="_blank"><img alt="工商网监" src="../../picture/bico4.jpg" height="46" width="35"></a>
            <a href="http://www.sznet110.gov.cn/netalarm/index.jsp" rel="nofollow" target="_blank"><img src="../../picture/bico3.jpg" alt="网安" height="46" width="35"></a>
        </div>
        <p><a href="/profile/ChinaFlowerAssociation.htm" rel="nofollow" target="_blank" title="中国花卉协会会员">中国花卉协会会员</a> <a href="/profile/chinaECA.htm" rel="nofollow" target="_blank">中国电子商务协会会员</a> ICP经营许可证：<a href="/profile/ICP.htm" rel="nofollow" target="_blank">粤B2-20050744</a> <b>|</b> <a href="http://www.miibeian.gov.cn" rel="nofollow" target="_blank">粤ICP备09171662号</a> <span class="ico beian"></span>粤公网安备44030502000373号 Copyright © 2005-2016</p>
        <p>花礼网 （中国鲜花礼品网） <a href="/">www.hua.com</a> 圣诞节鲜花专题！</p>
    </footer>
    <!-- 通用尾部 End -->

<script type="text/javascript" charset="gbk" src="../../js/common.js"></script>
<script type="text/javascript" src="../../js/statesandright.js"></script> 
<script type="text/javascript">
	// (function () {
	//     var url = location.href;
	//     if ((url.indexOf('www.hua.com') != -1) && navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i)) {
	//         var newUrl = url.replace('http://www.hua.com', 'http://m.hua.com');
	//         location.href = newUrl;
	//     }
	// })();
</script>
<!-- 返回顶部  -->    
<style type="text/css">
#goTopBtn{BOTTOM: 80px; CURSOR: pointer; RIGHT:15px; _position: absolute; _right: auto;height:40px; width:40px;POSITION: fixed; border:1px solid #e6e6e6; background:#fafafa;}
#goTopBtn span{display:inline-block;width:17px;height:16px;background:url("../../images/top_1.png") no-repeat;vertical-align:top; margin:12px 11px;}
</style>
<a style="display: none" id="goTopBtn" title="返回顶部"><span></span></a>
<script type="text/javascript">
function goTopEx() {
var obj = document.getElementById("goTopBtn");
function getScrollTop() {
return document.documentElement.scrollTop + document.body.scrollTop;
}
function setScrollTop(value) {
if (document.documentElement.scrollTop) {
document.documentElement.scrollTop = value;
} else {
document.body.scrollTop = value;
}
}
window.onscroll = function() {
getScrollTop() > window.screen.height ? obj.style.display = "": obj.style.display = "none";
}
obj.onclick = function() {
var goTop = setInterval(scrollMove, 10);
function scrollMove() {
setScrollTop(0);
if (getScrollTop() < 1) clearInterval(goTop);
}
}
}
</script>
<script type="text/javascript">goTopEx();</script>
<script type="text/javascript">
$(function() {
  var sjs=Math.random();
  var pids = "";
  $(".price-num").each(function () {
      pids = pids + $(this).attr("id")+",";
  });
  if (pids.length > 7)
  {
      pids = pids.substring(0, pids.length - 1);
  }
  $.get("/home/GetProductsPrice?type=xmas&pids=" + pids + "&rmd=" + sjs, null, function (data) {
      if (data.length > 0)
      {
          var pds = data.split(";");
          for (var i = 0; i < pds.length; i++) {
              var pd = pds[i].split(":");
              if (pd.length == 2)
              {
                  $("#" + pd[0]).html(pd[1]);
              }
          }
      }
  });
});
</script>
</body>
</html>