<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/pintuer.css">
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/admin.css">
    <link rel="stylesheet" href="__ADMIN__STATIC__ /css/boot.css">

    <script src="__ADMIN__STATIC__ /js/jquery.js"></script>

    <script src="__ADMIN__STATIC__ /js/pintuer.js"></script>
</head>

<body>
    <form method="post" action="{:url('admin/usermanage/UserDelete')}" >
        <div class="panel admin-panel">
            <div class="panel-head"><strong class="icon-reorder">用户列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
            
            <table class="table table-hover text-center">
                <tr>
                    <th width="100" style="text-align:left; padding-left:20px;">ID</th>
                    <th width="10%">用户姓名</th>
                    <th>sex</th>
                    <th>手机号码</th>
                    <th>email</th>
                    <th>创建时间</th>
                    <th>会员/管理员/BOSS</th>
                    <!-- <th>创建时间</th> -->
                    <th width="310">操作</th>
                </tr>
                {volist name="ManageUser" id="data"}
                <tr>
                    <td style="text-align:left; padding-left:20px;">

                        <input type="checkbox" name="id[]" value="{$data['id']}" />

                    </td>

                    <td>{$data['vir_name']}</td>
                    <td>{$data['sex']}</td>
                    <td width="10%">{$data['mphone']}</td>
                    <td>
                        <font color="#00CC99">{$data['email']}</font>
                    </td>
                    <td>{$data['reg_time']}</td>
                    <!-- 会员判断 -->
                    {switch name=$data['is_admin']}
                        {case value="0"}<td>普通会员</td>{/case}
                        {case value="1"}<td>管理员</td>{/case}
                        {case value="2"}<td>BOOS</td>{/case}
                    {/switch}
                    <td>
                        <div class="button-group">
                           
                            <a class="button border-main" href="">
                                <span id="setManage" class="icon-edit">
                                    设置管理员
                                </span>
                            </a>
                        </div>
                    </td>
                </tr>
                {/volist}


                <tr>
                    <td style="text-align:left; padding:19px 0;padding-left:20px;"><input type="checkbox" id="checkall" /> 全选 </td>
                    <td  colspan="7" style="text-align:left;padding-left:20px;">
                    <button id="deluser" class="button border-red icon-trash-o" style="padding:5px 15px;">删除</button>

                    <span>&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;</span>
                    <a class="button border-main" href="{:url('admin/Usermanage/alterpswd')}">
                            <span class="icon-edit"></span> 修改个人密码
                    </a>
                </tr>

                <tr>
                    <td colspan="8"><div class="pagelist">{$userPage}</div></td>
                </tr>
            </table>
            

        </div>
    </form>
    <script type="text/javascript">
        //全选
        $("#checkall").click(function() {
            $("input[name='id[]']").each(function() {
                if (this.checked) {
                    this.checked = false;
                } else {
                    this.checked = true;
                }
            });
        })
    </script>
</body>

</html>